[2015-09-11 14:55] zcorleissen opened #4 "Watch out for copyrights"
https://www.docker.com/trademark-guidelines

https://twitter.com/kordless/status/638465878959394816

https://github.com/j-bennet/wharfee/issues/89

[2015-09-11 15:04] zcorleissen opened #6 "Using RCS with ASP.NET 5"
ASP.NET 5 can run on Linux but most .NET devs aren't familiar enough with Linux to know how to deploy or run their server. RCS would work well in this situation as the entire process can be mediated through familiar tools Visual Studio and VS Online.

* How to test on a local docker container running linux from your windows dev box
* Deploy from Visual Studio to your local machine
* Deploy directl

[2015-09-11 15:18] zcorleissen opened #7 "Document the Magnum API"

[2015-09-11 15:20] zcorleissen opened #8 "Docker on Windows"
Also assigned: @carolynvs, @zack-shoylev

[2015-09-11 15:37] zcorleissen opened #11 "Security auditing and container exploits"
Turn security auditing and container exploits into an actively maintained repository and content for the site.

[2015-09-11 15:41] zcorleissen opened #13 "Docker Swarm"
@cyrichardson: "Explain what swarm is doing... 'why does Docker ps -a show these?' (From DevEx Onsite)"

[2015-09-11 15:43] zcorleissen opened #14 "Docker 101"
@cyrichardson: https://docs.docker.com/reference/builder/ from Everett's workshop at DevEx Onsite

@DonNateR: Some subjects that doc might cover (kudos to Keith):

#. Install Docker and a Daemon (probably our own container service)
#. Pull an image from Docker hub (probably cirros or ubuntu)
#. Create/run the container and “prove” you’re in a container, not the host system

This might also be a go

[2015-09-11 15:54] zcorleissen opened #19 "Using other Rackspace products with RCS"

[2015-09-11 15:54] zcorleissen opened #20 "Introduction to RCS"

[2015-09-11 16:06] zcorleissen opened #23 "CI/CD tutorial"
* CI and CD pipelines 101 (will need to be slightly opinionated)
* Accepting webhooks from Docker Hub to trigger deploy
* Rolling deployments (in a separate card)

Also assigned: @smashwilson, @everett-toews

[2015-09-11 16:11] zcorleissen opened #24 "Data services and RCS (MySQL)"

[2015-09-11 16:13] zcorleissen opened #25 "Data services and RCS (MongoDB)"
Paired with [Data services and RCS (Databases)](https://github.com/rackerlabs/docs-container-service/issues/24).

[2015-09-11 16:18] zcorleissen opened #28 "Reference Architectures"

[2015-09-11 16:19] zcorleissen opened #29 "Using RCS Private repositories"

[2015-09-11 16:21] zcorleissen opened #31 "Containers & security"

[2015-09-11 16:25] zcorleissen opened #36 "Formalize all container-related blog content & repurpose"
https://developer.rackspace.com/blog/categories/docker/ & repurpose

[2015-09-11 16:30] zcorleissen opened #38 "Autoscaling(?)"
@cyrichardson: From DevEx onsite

[2015-09-11 16:32] zcorleissen opened #40 "Troubleshooting"
@cyrichardson: From DevEx onsite

[2015-09-11 16:33] zcorleissen opened #41 "Differences in environment between RCS and Swarm"
@cyrichardson: From DevEx onsite

[2015-09-11 16:40] zcorleissen opened #45 "Best practices"
@cyrichardson: From DevEx onsite, https://docs.docker.com/articles/dockerfile_best-practices/

[2015-09-11 16:41] zcorleissen opened #47 "Application Logging"

[2015-09-11 16:44] zcorleissen opened #49 "CI/CD docker images for Amphora"

[2015-09-12 15:20] jnoller opened #52 "Drupal & Swarm"
See issue https://github.com/rackerlabs/docs-container-service/issues/51 - same applies here. We're obviously going to want a swarm version & k8s version, but this is step 1

[2015-09-15 17:52] kmsholcomb opened #57 "Create glossary of container terms"
I'll be starting a list of standard terms to use, as well as usage guidelines. Not yet sure where it will live (I suppose somewhere here on GitHub). If you have any suggested "preferred" terms to start the list, add a comment here. For example, during the onsite, Everett mentioned that Docker uses the terms *service*, *daemon*, and *engine* interchangeably. Which term do we use? Also, we talked ab

[2015-09-15 20:48] everett-toews opened #59 "Docker Compose with RCS"

[2015-09-18 01:10] everett-toews opened #73 "Image registries"
Talk about Docker Hub and other public registries. There seems to be a handful of companies doing “professional” images. Talk about private registries.

You need to answer the question, "Who do you trust enough to pull images from?"

[2015-09-29 16:21] carolynvs opened #116 "Troubleshooting Docker version conflicts"
`Error response from daemon: client and server don't have same version (client : X, server: Y)`

What should a user do when they encounter this message with RCS?

Part of #40

[2015-10-01 13:33] rose-coste opened #132 "Best practices: Intro to container technologies--Docker"
This is a partial response to #12 .
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:35] rose-coste opened #133 "Best practices: Intro to container technologies--container operating systems"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:37] rose-coste opened #135 "Best practices: Intro to container technologies--scheduling and management"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:38] rose-coste opened #136 "Best practices: Intro to container technologies--orchestration"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:43] rose-coste opened #137 "Best practices: Intro to container technologies--networking"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:44] rose-coste opened #138 "Best practices: Intro to container technologies--market analysis"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:49] rose-coste opened #139 "Best practices: Dockerfile"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:55] rose-coste opened #141 "Best practices: data and stateful applications"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:56] rose-coste opened #142 "Best practices: container linking"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 13:58] rose-coste opened #143 "Best practices: Kubernetes"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-01 14:00] rose-coste opened #144 "Best practices: Mesos versus OpenStack"
This is a partial response to #12.
Content is drafted. PR for technical review is coming soon.

[2015-10-05 19:45] smashwilson opened #173 "dvm integration with credentials zip"
To improve user experience when working with different Docker daemons and Swarm clusters, @rgbkrk and I rolled up [dvm](https://github.com/rgbkrk/dvm). I have a PR in flight against the RCS backend to add a `DOCKER_VERSION` environment variable to give us some "integration":

[code]

This is a start, but there are a few directions that could go from here, and I'm curious what others think about th

[2015-10-09 20:37] everett-toews opened #187 "Zero to Hero"
We really need a zero to hero tutorial for RCS. Ideally this is first tutorial developers encounter when they get started with RCS.

This tutorial would be a true quick start and would contain the exact minimum amount of information required to onboard customers onto RCS. It's quite likely that customers wouldn't even necessarily know what they're doing except that they're Dockering, giving them t

[2015-10-12 17:12] kmsholcomb opened #191 "Clarify "run" command in Container 101 article"
Let's emphasize the use of the verb "run" when talking about creating containers, but let's also explain what it means. I'd suggest revising the beginning of the "Create a container" section as follows:

### Run a container
To create a container from an Ubuntu image, you use the following command. The `run` command creates the container and then starts it.

If you have a better suggestion, please

[2015-10-13 14:40] jnoller opened #194 "Tips and Tricks Tutorial"
@jamiehannaford inspired me!

to get the swarm discovery id for your cluster, you can run:

[code]

Jamie Hannaford [5:26 AM]
@thomasem: managed to get a list of swarm nodes from that. just plug above cmd into `swarm list $(...)` (edited)

[2015-10-13 19:58] #13 closed

[2015-10-13 19:58] #52 closed

[2015-10-13 20:01] kmsholcomb commented on #191
Issue was resolved with update to `/_tutorials/001-containers-101.md`.

[2015-10-13 20:01] #191 closed

[2015-10-13 20:15] stephamon opened #201 "Ansible and Docker article"
The base of the article is converted from one of Ash's blog posts, and is already merged. There's still more work to do here and Ash has taken ownership over it.

[2015-10-13 21:52] everett-toews commented on #173
We should hash out the verbiage for the copy-pastable tomorrow.

[2015-10-13 22:46] kmsholcomb commented on #57
Created a glossary file PR: https://github.com/rackerlabs/docs-container-service/pull/202

[2015-10-14 13:55] rose-coste commented on #135
closed by https://github.com/rackerlabs/docs-container-service/pull/161 (+ later fix)

[2015-10-14 13:55] #135 closed

[2015-10-14 14:11] rose-coste commented on #133
closed by https://github.com/rackerlabs/docs-container-service/pull/158 & later repair

[2015-10-14 14:11] #133 closed

[2015-10-14 17:49] rose-coste commented on #143
closed by https://github.com/rackerlabs/docs-container-service/pull/146

[2015-10-14 17:49] #143 closed

[2015-10-15 14:22] kmsholcomb opened #206 "Incorrect screenshots?"
The screenshot in **/_references/troubleshooting-port-unavailable.md** doesn't look like the correct interface. It looks like the Cloud Control Panel. The screenshot file is at **/_assets/img/troubleshooting-port-unavailable/grow-cluster.png**. Update it if necessary.

Also, the screenshots in **/_references/rcs-credentials.md** don't look like the correct interface. It looks like the Cloud Contro

[2015-10-15 15:06] kmsholcomb opened #208 "Fix and update "Install Docker on Windows" article?"
In **/_tutorials/docker-install-windows.md**, the first step in each procedure is run into the intro text. Fix formatting?

Also, **/_references/002-troubleshooting-windos-docker-vm-startup.md** says that existing versions of Git can cause problems when installing Docker Toolbox. We mention existing Oracle VM VirtualBox here, but not Git. Should we?

Should we link to that troublshooting topic fro

[2015-10-15 16:49] DonNateR commented on #208
@kmsholcomb I don't understand what you mean. The list's in my code and preview are formatted the way they should be. I even compared them to the other installation instructions. Can you show me more specifically what the problem is?

[2015-10-15 17:06] kmsholcomb commented on #208
The attached screenshot shows what I see when I click the View button. I'm not sure why I see that, because the code does look fine. Maybe it's just a glitch on my system? I guess all that matters is that it looks good in the product UI.

[screenshot.pdf](https://github.com/rackerlabs/docs-container-service/files/14236/screenshot.pdf)

[2015-10-15 17:20] DonNateR commented on #208
Alright, tried a couple of things and it looks like whatever I did it fix. @kmsholcomb you can review the PR #209 if you wish. The link is above.

[2015-10-15 17:35] kmsholcomb commented on #208
@DonNateR: It looks fixed in the first procedure, but not the second one.

[2015-10-15 19:33] rose-coste commented on #132
closed by https://github.com/rackerlabs/docs-container-service/pull/157

[2015-10-15 19:33] #132 closed

[2015-10-15 22:35] #187 closed

[2015-10-15 22:40] everett-toews opened #210 "Put Getting Started on Carina at the top of the Getting Started articles"
Please put [Getting Started on Carina](https://github.com/rackerlabs/docs-container-service/blob/master/_tutorials/getting-started-on-carina.md) at the top of the Getting Started articles [here](https://github.com/rackerlabs/docs-container-service/blob/master/docs/index.html#L18).

[2015-10-15 23:03] kmsholcomb opened #211 "Change number of segments noted in Intro to Swarm?"
Just saw that they are "lowering quotas of MAX_NODES_PER_CLUSTER from 10 to 3." The [Introduction to Docker Swarm article](_tutorials/005-docker-swarm-intro.md) says, "Rackspace Container Service offers one segment by default and is scalable up to 10 segments." If that is the number affected by the change, then the article should be updated. Thanks!

[2015-10-16 14:10] everett-toews opened #216 "Data Volume Containers"
Document the use of DVCs on Carina w.r.t. databases.

https://docs.docker.com/userguide/dockervolumes/#creating-and-mounting-a-data-volume-container

[2015-10-16 18:45] #25 closed

[2015-10-16 19:16] rose-coste commented on #144
closed by https://github.com/rackerlabs/docs-container-service/issues/213

[2015-10-16 19:16] #144 closed

[2015-10-16 20:38] #24 closed

[2015-10-19 02:10] rgbkrk opened #228 "Linking to Carina binary"
How do we link to the latest binary of `carina`, when it's released via GitHub releases?

Options:

1. Use the https://github.com/rackerlabs/carina/releases/latest URL

2. Point to an individualized URL structure for each OS? Something like getcarina.com/cli/latest/darwin/amd64/carina, etc.?

[2015-10-19 12:48] jamiehannaford commented on #7
Documented here: https://github.com/jamiehannaford/swagger-magnum, so closing.

[2015-10-19 12:48] #7 closed

[2015-10-19 13:19] #28 closed

[2015-10-19 13:35] DonNateR commented on #14
Since all Docker 101 related content is complete, I am going to go ahead and close this issue!

[2015-10-19 13:35] #14 closed

[2015-10-19 13:38] DonNateR commented on #208
Fixed this in second procedure and merged Pr #209. Closing this issue.

[2015-10-19 13:38] #208 closed

[2015-10-19 14:45] everett-toews commented on #173
First draft of docker.env version verbiage.

[code]

Ugh. 8 lines. It's awfully verbose. Can we get it down to 4?

@rgbkrk Does the carina cli have the dvm installer? How do they install the carina cli?

[2015-10-19 15:36] rgbkrk commented on #173
Changed the originating repo to be getcarina, we'll move that today.

[2015-10-19 15:37] rgbkrk commented on #173
As we said on video, the carina cli does *not* have a dvm installer. We could add it pretty simply, which would also mean we don't have to depend on the user having `git`.

[2015-10-19 17:58] #47 closed

[2015-10-20 03:02] mdarby commented on #211
Updated in 04ab0c15d29403793937625fea5f6b6774d2966a -- Thanks!

[2015-10-20 03:02] #211 closed

[2015-10-20 16:47] catlook opened #242 "https://boatboat.deconst.horse/ Features intro"
The section under features contains 2 sentences that seem a bit disjointed.  I'd keep them consistent, either both addressing users or both addressing "You".  For example:

With Carina by Rackspace, users get a “zero infrastructure” hosted container environment with no need to worry about building, managing, and updating their container environments ever again.
or
With Carina by Rackspace, you get

[2015-10-20 16:57] catlook opened #243 "https://boatboat.deconst.horse/ Container native tools"
Let's start with, or include a verb (and don't forget oxford comma).  How about:

Enjoy instant access to the Docker™ toolchain you already know and work with, including portability across providers, form-factors, and container orchestration environments.

[2015-10-20 17:03] catlook opened #244 "https://boatboat.deconst.horse/ Best practises"
I'd change the text in this section to:

Discover the current best practices in the container world. For example, what are data volumes, security, the Ambassador pattern? Also, learn about the best practices, not just for Carina, but for containers, in general.

[2015-10-20 17:31] rose-coste commented on #137
closed by #234

[2015-10-20 17:31] #137 closed

[2015-10-20 22:29] lauracly commented on #242
Hi Cat,
I addressed this inconsistency with my update to the main page. We went with the "you" version.

[2015-10-20 22:29] #242 closed

[2015-10-20 22:31] lauracly commented on #244
Hi Cat,

Updated this text to remove the question (thought that was a bit out of place with the other content). Refocused it around the content in the best practices:

Review recommendations and industry standard approaches for Carina and containers, along with an introduction to advanced topics.

[2015-10-20 22:31] #244 closed

[2015-10-20 22:33] lauracly commented on #243
Changed final to:
Instant access to the Docker™ toolchain that offers portability across providers, form-factors and container orchestration environments.

Standardized on direct, active descriptions. The other two categories start with Built for speed and Accelerated. Removed the "you already know and work with" because that seemed a bit redundant - its the official toolchain.  Thanks for the fee

[2015-10-20 22:33] #243 closed

[2015-10-20 22:37] lauracly opened #250 "Update https://github.com/rackerlabs/docs-container-service/blob/master/index.html"
For https://github.com/rackerlabs/docs-container-service/blob/master/index.html
Remove everything but the first sentence under "Everything You Need to Know".  Keep only the Carina sentence.

[2015-10-20 22:41] lauracly commented on #250
Also, Change Everything You Need to Know" to "Everything You Need to Get Started". Now that the doc content is only on the docs page, this doesn't make sense.

[2015-10-20 23:02] everett-toews opened #251 "A Carina overview diagram"
We need a nice diagram of this for the Overview of Carina.

![carina](https://mycluster.rackspacecloud.com/images/make-swarm-diag-full.png)

[2015-10-20 23:54] everett-toews commented on #251
- [ ] Outer blue box should be labelled "cluster"
- [ ] "lxc container" should be labelled "segment"

[2015-10-21 10:34] rgbkrk commented on #14
:tada:

[2015-10-21 12:40] DonNateR commented on #251
@everett-toews I actually was almost done with this diagram. I'll update the issue once the draft is done!

[2015-10-21 12:45] rose-coste commented on #136
closed by #253

[2015-10-21 12:45] #136 closed

[2015-10-21 13:16] carolynvs commented on #206
These are screenshots of the new (unreleased) UI, not the current UI. I just confirmed with Jesse and Keith that the UI will be live by the time we go live. So we are all set!

[2015-10-21 13:16] #206 closed

[2015-10-21 14:02] kmsholcomb commented on #206
Ah, OK. I just saw the staging version of the new UI yesterday. I had no idea that it existed! Sorry for the false alarm.

[2015-10-21 14:58] DonNateR commented on #251
![carina-cluster 1 6](https://cloud.githubusercontent.com/assets/12628964/10640437/4698272a-77da-11e5-9e5d-03ee1a95287f.png)

Won't upload as a PNG, but here's a preview in case you wanted to make any tweaks!

[2015-10-21 15:08] jamiehannaford commented on #59
Implemented in #231

[2015-10-21 15:08] #59 closed

[2015-10-21 16:02] everett-toews commented on #251
- [ ] Openstack Control Panel should be OpenStack control plane
- [ ] Manage certifications should be Download certificates
- [ ] Move Docker CLI down to the same level as Cluster management UI
- [ ] Move Swarm manager out into the segment, there should only be one in the segment
- [ ] Can User not touch the top of the container?
- [ ] Review that we can use the Docker logo like that from [here](h

[2015-10-21 16:32] DonNateR commented on #251
@everett-toews can you clarify what you mean by "Move swarm manager out into the segment." There is only one swarm manager per segment. Are you referring to the swarm agent?

And the user touches the top of the container through Docker CLI. I can change the lines from dotted to dashed to reflect this.

[2015-10-21 16:41] everett-toews commented on #251
I am referring to the swarm manager container. Both of the containers labelled "Swarm manager" should be deleted from their current position. Create a single "Swarm manager" container outside the Segments but inside the Cluster box.

Don't change any lines.

For the containers labelled "User docker container", the **word** "User" touches the rounded top of the container image. It makes it hard to

[2015-10-21 17:06] rose-coste commented on #142
closed by #239

[2015-10-21 17:06] #142 closed

[2015-10-21 19:05] DonNateR commented on #251
![carina-cluster 1 6 1](https://cloud.githubusercontent.com/assets/12628964/10647203/aed14c96-77fc-11e5-9143-d72f40f7fd7a.png)

@everett-toews Here's my edits. @rgbkrk Jesse asked me to have you take a look at the diagram as well. If ya'll think it's ready I'll make a PR for it pronto.

[2015-10-21 19:32] everett-toews commented on #251
- [ ] Openstack Control Panel should be Carina control plane
- [ ] Cluster management UI should be Carina management UI
- [ ] Download certifications should be Download certificates
- [ ] Have the line from Swarm manager actually originate from the top/bottom of the Swarm manager container image

Looking good!

[2015-10-21 19:42] rgbkrk commented on #251
That looks great! Agree with Everett's last check boxes.

[2015-10-21 19:43] rgbkrk commented on #251
On a side note, are there server images that look like racks instead of the desktop machine I keep in the garage for nostalgia?

[2015-10-21 19:45] DonNateR commented on #251
There are. They look kind of like this:
![dedicated-server-medium](https://cloud.githubusercontent.com/assets/12628964/10648119/4ca49068-7802-11e5-930b-6418d1b4b2c7.png)

[2015-10-22 09:51] jamiehannaford commented on #41
Implemented in #238

[2015-10-22 09:51] #41 closed

[2015-10-22 13:17] DonNateR commented on #251
https://github.com/rackerlabs/docs-container-service/pull/265

[2015-10-22 13:41] jamiehannaford commented on #251
@DonNateR @everett-toews Isn't there 1 Swarm Manager container _per segment_?

[code]

In the diagram you have 1 per cluster.

[2015-10-22 13:47] jamiehannaford commented on #73
Closing as Zack implemented this in #225.

[2015-10-22 13:47] #73 closed

[2015-10-22 13:51] jamiehannaford commented on #11
@rgbkrk Do you think the sections in [Understanding how Carina uses Docker Swarm](https://github.com/rackerlabs/docs-container-service/blob/master/_tutorials/docker-swarm-carina.md) (AppArmor, flag disabling, volumes etc) would cover this issue?

[2015-10-22 14:18] rgbkrk commented on #11
I think it does. Closing this. Thanks Jamie!

[2015-10-22 14:18] #11 closed

[2015-10-22 15:38] everett-toews commented on #251
That's changing before launch.

[2015-10-22 15:55] #251 closed

[2015-10-22 19:14] rose-coste commented on #138
closed by https://github.com/rackerlabs/docs-container-service/pull/264

[2015-10-22 19:14] #138 closed

[2015-10-22 20:27] rose-coste commented on #139
closed by https://github.com/rackerlabs/docs-container-service/pull/263

[2015-10-22 20:27] #139 closed

[2015-10-22 21:33] rose-coste commented on #141
closed by #260

[2015-10-22 21:33] #141 closed

[2015-10-23 13:41] lauracly commented on #57
Already merged.

[2015-10-23 13:41] #57 closed

[2015-10-23 13:44] lauracly commented on #8
Articles created.

[2015-10-23 13:44] #8 closed

[2015-10-23 16:37] jamiehannaford commented on #38
Implemented in #283

[2015-10-23 16:37] #38 closed

[2015-10-24 15:04] jnoller commented on #250
on this

[2015-10-24 15:28] #250 closed

[2015-10-24 16:31] ktbartholomew commented on #210
Fixed w/ #289.

[2015-10-24 16:31] #210 closed

[2015-10-24 19:53] meker12 opened #294 "Nuke containers tutorial doesn't have a Next Steps section"
This looks like a reference type procedure, and I don't think it needs a Next Steps, but the checklist mentioned that all tutorials should have them.

https://github.com/rackerlabs/docs-container-service/blob/master/_tutorials/032-nuke-a-container.md

[2015-10-24 19:54] kmsholcomb commented on #294
Ah, right, it is more of a troubleshooting topic. No next steps necessary. I'll revise the checklist. Thanks, Margaret!

[2015-10-24 19:59] #294 closed

[2015-10-24 21:25] stanzikratel opened #300 "Carina portal: Link to "Connect containers with Docker links" is broken in tutorials section"

[2015-10-24 22:39] catlook opened #307 "Run Magento in Docker Tutorial - link issue"
Article: https://getcarina.com/docs/tutorials/magento-in-docker/#modify-the-configuration hasa broken internal link.

Down in section "Verify and set up hosts", it tries to link back to section"Modify the configuration".  This link does not work.

@jamiehannaford

[2015-10-24 23:22] catlook opened #316 "Run wordpress across link front-end - no next step"
According to our article QE checklist, all tutorials should have a next steps section:

Verify that each tutorial has a “Next step” section. If it does not, open an issue against the article.
Note: Articles in the Tutorials section that are reference or troubleshooting articles and would not logically have a next step are exempt from this requirement.

This article doesn't have a next steps sectio

[2015-10-25 00:04] meker12 opened #323 "Best practices: Docker Swarm showing up twice in article list"
Not sure why but this article is showing up twice in the [article list](https://getcarina.com/docs)

Here are the two links-- they look the same to me, and the article title is also the same.

https://getcarina.com/docs/best-practices/container-ecosystem-docker-swarm/

https://getcarina.com/docs/best-practices/container-ecosystem-docker-swarm/

[2015-10-25 00:14] #216 closed

[2015-10-25 01:52] #20 closed

[2015-10-25 02:13] catlook opened #345 "Tutorial: Docker swarm carina - wording question"
Article: https://getcarina.com/docs/tutorials/docker-swarm-carina/

what does this mean: Whitelists expected mount calls for the container file system?

should it be"whitelists excepted mount calls"?

If so, I think you need a hyphen: Whitelists-excepted mount calls for the container file system

@jamiehannaford

[2015-10-25 12:25] jamiehannaford commented on #316
I took it out because the next step linked to a tutorial which used external Rackspace services. Does it make sense to have a Next step until this final tutorial gets re-enabled?

cc/ @lauracly @everett-toews

[2015-10-25 15:32] jnoller opened #355 "That giant TM"
for @ktbartholomew

<img width="582" alt="screen shot 2015-10-25 at 10 31 07 am" src="https://cloud.githubusercontent.com/assets/51528/10716336/a7206428-7b03-11e5-9d6e-ca1906b4b4a1.png">

SO BIG

[2015-10-25 15:32] jnoller commented on #355
It's xbox huge

[2015-10-25 15:39] ReneeRendon opened #357 "Best-practices: Mesosphere's is misspelled."
- Mesoshere's should be Mesosphere's.
- Need a space between Mesos and Mesosphere's.

https://getcarina.com/docs/best-practices/container-technologies-scheduling-management/

[2015-10-25 15:39] ktbartholomew commented on #355
fixed it for ya:
![image](https://cloud.githubusercontent.com/assets/3018940/10716370/a7b2468a-7b04-11e5-8be9-c191fe29cf91.png)

[2015-10-25 15:42] jnoller commented on #355
:sob:

[2015-10-25 15:43] jnoller commented on #355
fixed in https://github.com/rackerlabs/nexus-control/pull/217

[2015-10-25 15:43] #355 closed

[2015-10-25 15:46] jnoller opened #358 "Er, so a funny thing happened on the way to the blog"
I am supposing this amazing business opportunity email is not supposed to look like this

https://getcarina.com/blog/announcing-carina/

:squirrel:

[2015-10-25 15:47] ktbartholomew commented on #358
Is the issue here the formatting?

[2015-10-25 15:53] jnoller commented on #358
Yes I think so. It seems... unstyled.

[2015-10-25 15:53] ReneeRendon opened #359 "Best-practices: Spacing within and around the tables needs correction"
- Need a space between Table 1 and Table 2.
- Need a space between Table 2 and the next paragraph that begins with , "In terms of which ...".
- The spacing between the columns in Table 1 is inconsistent.
- In general, the tables are a little difficult to read. Moving the second column over more would help a lot.      It meshes in with the OrganizationTool column too closely.
- Is OrganizationTool

[2015-10-25 15:54] ktbartholomew commented on #359
Yikes, tables in general need some TLC. I'll take this.

[2015-10-25 15:55] ktbartholomew commented on #358
OK, see https://github.com/rackerlabs/nexus-control/pull/214

Needs @smashwilson to deploy

[2015-10-25 15:55] #358 closed

[2015-10-25 16:00] jnoller commented on #358
:cake: :rocket:

[2015-10-25 16:50] smashwilson commented on #358
Shipped :+1:

[2015-10-25 17:17] ReneeRendon opened #368 "Best-practices: Unsure about the visual that was copied from another resource"
In the Ambassador pattern section, I'm not clear on the visual. Should the dash before the word "networks" be an arrow?

https://getcarina.com/docs/best-practices/docker-best-practices-container-linking/#resources

[2015-10-25 17:49] everett-toews opened #371 "Tutorial front matter should have the OSes the tutorial works on"

[2015-10-25 18:28] everett-toews opened #378 "Redundant articles on creds"
Do we need `_tutorials/011-carina-credentials.md` now that we have `_getting-started/003-create-connect-cluster.md` ?

IMO...no. `_tutorials/011-carina-credentials.md` should be removed and links updated to `_getting-started/003-create-connect-cluster.md`.

The `_tutorials/*-load-docker-environment-on-*.md` would be unnecessary too.

[2015-10-25 18:29] ReneeRendon opened #379 "Tutorials, Application logging: Should the references be bulleted or line separated?"
The references should probably be bulleted or line separated, so they are distinguishable from each other.

https://getcarina.com/docs/references/application-logging/

[2015-10-25 18:38] everett-toews opened #380 "What to do with the Troubleshooting section?"
The Troubleshooting section can sometimes be big and cause a fair bit of noise in a tutorial.

We could collapse it until it's explicitly clicked on. Or move it to the end of tutorials? Or move it to its own bucket and link out to it? etc.

[2015-10-25 18:55] meker12 commented on #378
Noticed on the create-connect-cluster article -- when I select Autoscale for the new cluster, I get more containers, nodes, and images as shown below.  Do we want to mention that?

```docker info``` command output when Autoscale is selected:

[code]

[2015-10-25 20:00] ktbartholomew commented on #359
Fixed with #388.

![image](https://cloud.githubusercontent.com/assets/3018940/10717528/2a6d3322-7b29-11e5-9e9c-ae28263752c1.png)

[2015-10-25 20:00] #359 closed

[2015-10-25 20:55] everett-toews opened #393 "Stick with segments"
The blog post mentions segments, nodes, and hosts. I'd recommend sticking with segments only. They are the only thing that has an actual definition in the context of Carina (and the [Glossary](https://github.com/rackerlabs/docs-container-service/blob/master/_getting-started/008-glossary.md#segment)).

simply becomes

There are other uses of "hosts" that would have to be replaced too.

[2015-10-25 21:00] meker12 opened #394 "Getting Started with CLI -- get certificate error"
Article: https://getcarina.com/docs/getting-started/getting-started-carina-cli/

After I install the CLI and configure credentials, run the ```carina list``` command.  Get this error:

[code]

[2015-10-25 21:27] jnoller commented on #394
@meker12 Confirm this works with the latest binary; close this bug when confirmed

[2015-10-25 21:27] meker12 commented on #394
Error result of not having the latest version of the CLI installed.  Based on Jesse's suggestion, changed the download link so that customers can download the latest version from the git repo.

Question now -- how do I know if there's a new version. Will the carina CLI let me know if there's a new version?

[2015-10-25 21:28] jnoller commented on #393
Github ate my email back - I'll remove nodes, but I think it's important to point out a segment is a logical docker host (user feedback showed they couldn't grok that)

[2015-10-25 21:37] #393 closed

[2015-10-25 22:01] meker12 commented on #394
Downloading the current version of the CLI solved the certificate issue.

[2015-10-25 22:01] #394 closed

[2015-10-25 22:06] rgbkrk commented on #394
We can let people know if a new version of the cli is available, I'll add at least that. We can't auto upgrade for folks though.

I'll also get a "latest" link up too. Thanks for reporting this.

[2015-10-25 22:47] meker12 opened #405 "Getting Started with CLI - update instructions with Windows commands"
Article:  https://getcarina.com/docs/getting-started/getting-started-carina-cli/

[code]

**To do:** Add Windows-specific commands.

[2015-10-25 22:57] rgbkrk commented on #173
The title of this article is a finished issue, in that dvm recognizes the $DOCKER_VERSION variable.

The third statement is finished since getcarina now owns dvm. As for the first, we've decided against installing dvm using the credentials zip.

As for the second, Carolyn is on the case.

Can we close this one and rely on the Windows issues opened within the dvm repo?

[2015-10-26 00:09] meker12 opened #408 "Suggestion -- put author bio's in separate folder and use includes to add them to articles"
Mike Metral wrote all the Best Practices articles.  We have the same bio in quite a few articles.  Would be better to include by reference.  Also, keeping the bios separate would make it easier for authors to change or update if required.

[2015-10-26 00:37] kmsholcomb commented on #379
Fixed line spacing issues in https://github.com/rackerlabs/docs-container-service/pull/410.

[2015-10-26 00:38] #379 closed

[2015-10-26 00:42] kmsholcomb commented on #368
Hm. Maybe it should. But because it is a quote., we should leave it as is. Good catch, though!

[2015-10-26 00:42] #368 closed

[2015-10-26 01:29] meker12 opened #413 "On Docs page, click *Home* leads to "nothing to see here""
On this page, https://getcarina.com/docs/

Home button in top-nav goes to:  https://getcarina.com which responds with:  ```Nothing to see here.```

Should it go to:  https://getcarina.com/docs/?

[2015-10-26 01:58] ktbartholomew commented on #413
Nope, this is correct and won't be an issue once we un-hide the homepage for launch.

[2015-10-26 01:58] #413 closed

[2015-10-26 02:05] everett-toews commented on #316
We want to keep people reading. You can do what I did at the end of the [interlock tutorial](https://raw.githubusercontent.com/rackerlabs/docs-container-service/master/_tutorials/026-interlock-on-carina.md).

[2015-10-26 02:11] kmsholcomb commented on #357
Fixed!

[2015-10-26 02:11] #357 closed

[2015-10-26 02:16] kmsholcomb commented on #345
"whitelists" is a verb here, and "expected" modifies "mount calls." If "expected" is the correct term here, then I think we are OK. And I think it is, because you can add the calls that you expect to get to a whitelist to ensure that they are allowed. I'm gonna close, but Jamie can comment if he has any input (and change the wording if needed).

[2015-10-26 02:16] #345 closed

[2015-10-26 02:56] kmsholcomb commented on #307
I fixed the link, but the article gives instructions for using Cloud Databases (which we are trying to avoid at the moment). So, we are going to move the article to the _M2 folder for now, until it can be updated.

[2015-10-26 02:56] #307 closed

[2015-10-26 03:38] everett-toews opened #423 "Remove explicit anchors from section titles"
Some articles have anchors in the section title like this.

    ### <a name="resources"></a>Resources

It's unnecessary as section anchors are automatically generated for us.

[2015-10-26 03:53] everett-toews commented on #173
:+1:

[2015-10-26 03:53] everett-toews commented on #173
I'll leave it to @smashwilson to close...

[2015-10-26 07:32] rgbkrk commented on #173
A single upboat is all I need, closing now.

[2015-10-26 07:32] #173 closed

[2015-10-26 12:21] #316 closed

[2015-10-26 13:12] rose-coste commented on #408
Yes, I hope at some point we'll centrally manage author info like at http://blog.rackspace.com/author/adrian-otto/ and https://developer.rackspace.com/blog/authors/mike-metral/, but it didn't seem like we'd get there for this release.

[2015-10-26 14:50] kmsholcomb opened #434 "Edits for the new info on website"
https://github.com/rackerlabs/docs-container-service/blob/master/index.html

@ktbartholomew: I had a few suggested edits, in the attached Word doc, mainly around links and the capitalization of GitHub. Please let me know if you have any questions.

[Join us on GitHub.docx](https://github.com/rackerlabs/docs-container-service/files/20931/Join.us.on.GitHub.docx)

[2015-10-26 14:51] jnoller commented on #434
taking this one

[2015-10-26 14:54] kmsholcomb commented on #434
Feeding your addiction to track changes...

[2015-10-26 15:07] simonjj opened #437 "Beta label should be on every page of the site"
We should make 100% sure that everyone knows that Carina is currently in beta. Let's do so with some sort of header label.

[2015-10-26 15:20] kenperkins commented on #437
I agree that it should be more prominent. I threw together an idea where it adds a suffix to the logo, and it looks pretty good. Additionally, doing it this way allows us to call out the beta status when we're in the control panel, which has a different header.

[2015-10-26 15:25] ktbartholomew commented on #437
@kenperkins the only problem with modifying the logo is that it only appears on the home page of getcarina.com. We could potentially change the navigation's "Home" link to read "Carina (beta)" and stylized the beta label a little.

[2015-10-26 15:25] ktbartholomew commented on #437
accio @technabors

[2015-10-26 15:32] kenperkins commented on #437
I think these are actually two separate issues. Beta should be more prominent on the site. Also, the header of getcarina.com should have the logo to reinforce it's not Rackspace proper.

[2015-10-26 15:33] kenperkins opened #438 "Logo should be prominent in header across content site"
Currently, if you're on any page other than the landing page, there's no mention of carina.

For example:

https://getcarina.com/docs/tutorials/create-connect-cluster/

I think we should include the logo in the header so that there's always reinforcement of the branding.

[2015-10-26 15:37] kenperkins commented on #437
Opened #438 for the second issue.

[2015-10-26 15:41] kenperkins opened #439 "Docs landing page has 3 promo boxes which are not actionable"
This is a bit in contrast to the landing page which has actionable boxes. I propose either making these actionable like on the landing page, or just removing the section entirely.

![image](https://cloud.githubusercontent.com/assets/730664/10733695/1f617d3c-7bbd-11e5-9ac1-0474b89ffbdb.png)

[2015-10-26 15:51] simonjj commented on #437
@ktbartholomew can we just do an overlay of some sorts, maybe a "hip" version of the corner flag?

[2015-10-26 15:52] meker12 opened #441 "Create and connect cluster: Selecting Autoscale gives different output for docker info command"
Article: https://getcarina.com/docs/tutorials/create-connect-cluster/
This is a bit of nit -- but when you create a cluster with Autoscale selected, you get more containers, nodes, and images then what is shown in current exampe.  Do we want to mention that?

docker info command output when Autoscale is selected:

Containers: 8
Images: 6
Role: primary
Strategy: spread
Filters: affinity, health, co

[2015-10-26 15:58] rose-coste opened #443 "first list item duplicated under All Articles > Best Practices"
The list of all articles is divided into 3 groups: Getting Started, Tutorial, Best Practices.
Under Best Practices, the first item is listed twice:

![x2](https://cloud.githubusercontent.com/assets/957576/10734057/60780cde-7bcf-11e5-89c4-b087c5eea5f3.png)

This is happening because the contents of 2 files, 001-container-design-philosophy.md and 002-container-ecosystem-docker-swarm.md, are identica

[2015-10-26 15:59] DonSchenck opened #444 "Asterisks on home page"
Using Chrome: The following:
Open the login page https://app.getcarina.com/login
Click on the link "Create a free account! to visit https://app.getcarina.com/signup
Use my browser's Back button

I end up at https://app.getcarina.com/login

but the asterisks from the Sign Up page are still on the page.

![screen shot 2015-10-26 at 12 00 02 pm](https://cloud.githubusercontent.com/assets/5067110/1073

[2015-10-26 16:00] jnoller commented on #437
Do NOT add to the logo. Legal issues (logo is TM as-is)

[2015-10-26 16:01] ktbartholomew commented on #444
@DonSchenck this looks like a side effect of LastPass. Are you using LastPass?

[2015-10-26 16:03] DonSchenck commented on #444
Yes. I'll close this.

[2015-10-26 16:03] #444 closed

[2015-10-26 16:09] jamiehannaford opened #445 "Minor alignment issue with lower "Sign up for the beta!" button"
I think the button should be aligned with the input boxes. This is what currently appears:

![](http://imgur.com/PTDxs6R.png)

[2015-10-26 16:17] jnoller commented on #445
I expanded the text, but removed it since it caused this. Should be resolved

[2015-10-26 16:17] #445 closed

[2015-10-26 16:17] jnoller commented on #405
@carolynvs ^^

[2015-10-26 16:29] jnoller commented on #300
@stanzikratel Sorry, need more information about where the broken link is.

[2015-10-26 16:31] jnoller commented on #378
@everett-toews want @lauracly to make the call?

[2015-10-26 16:37] everett-toews commented on #378
We actually chatted about this already. Generally opinion was, "Ya, get rid of them.". We held off because they were linked to from other content and we didn't want to risk breaking links this late in the game. I'd be willing to delete them right now though.

[2015-10-26 16:49] kmsholcomb commented on #378
Other articles link the "load-docker-environment" articles. All of the articles in the "local Docker environment" "set" of articles are tied together through linking. If we want to get rid of them all, that's one thing; but we can't just delete some and not others without requiring re-analysis.

[2015-10-26 16:54] kmsholcomb commented on #441
I can add a note in the article.

[2015-10-26 17:10] carolynvs commented on #405
Waiting for https://github.com/getcarina/carina/issues/40 and https://github.com/getcarina/carina/issues/41 to be fixed before I can verify that the Windows commands work.

[2015-10-26 17:22] jnoller commented on #434
fixed in https://github.com/rackerlabs/docs-container-service/commit/decf199edc00e0db1ebb20ac933635771c8e425e

[2015-10-26 17:22] #434 closed

[2015-10-26 18:14] kenperkins commented on #439
We've decided to leave this as is, as it does explain what we talk about below.

[2015-10-26 18:14] #439 closed

[2015-10-26 18:28] ktbartholomew commented on #437
oh shoot. I totally forgot that I'm supposed to add a "Carina is in beta" banner to the top that users have to dismiss. I'll do that, which we have designs for already.

[2015-10-26 18:33] jnoller commented on #423
:eyes:

_tutorials/029-docker-networking-basics.md:### <a name="links"></a> Docker links
_tutorials/029-docker-networking-basics.md:### <a name="ambassador"></a> Ambassador pattern
_tutorials/030-connect-docker-containers-with-links.md:### <a name="connect"></a> Connect two containers with a Docker link
_tutorials/030-connect-docker-containers-with-links.md:### <a name="inspect"></a> Inspect the l

[2015-10-26 18:36] carolynvs commented on #423
Sorry about that, didn't realize we got it for free. :smile:

[2015-10-26 19:06] kmsholcomb commented on #441
Revised article with https://github.com/rackerlabs/docs-container-service/pull/458

[2015-10-26 19:07] #441 closed

[2015-10-26 19:08] kmsholcomb commented on #443
Same issue as https://github.com/rackerlabs/docs-container-service/issues/323

[2015-10-26 19:08] kmsholcomb commented on #323
Same issue as https://github.com/rackerlabs/docs-container-service/issues/443, which Rose assigned to herself.

[2015-10-26 19:15] mendeni opened #460 ""segments" vs. "nodes" inconsistency with Carina web UI and CLI"
Sometimes swarm hosts are referred to "segments", other times they're "nodes".
To align with Docker documentation and command output, can we consider using "nodes" everywhere?

[2015-10-26 19:16] ktbartholomew commented on #460
"segments" is supposed to be the norm. Where are you seeing "nodes"?

[2015-10-26 19:16] jnoller commented on #460
@mendeni It's a good question - the reason we used segments is that nodes implies physical separation in distributed systems, and in carina they are not, they're just additional resource chunks of a whole cluster.

[2015-10-26 19:27] mendeni commented on #460
The Carina CLI shows Nodes:
<pre>
$ carina list
ClusterName     Flavor          Nodes   AutoScale       Status
prod04          container1-4G   5       false           active
</pre>
Docker also refers to nodes:
<pre>
$ docker info
Containers: 11
Images: 10
Role: primary
Strategy: spread
Filters: affinity, health, constraint, port, dependency
Nodes: 5
 c84e61a8-4a69-4ac9-9aa9-77edf2183866-n1: 104.13

[2015-10-26 19:27] rose-coste commented on #423
How will this work for multi-work section headings? Most of what I want to link to now has a 1-word title (Resources) but what if I want to link to something like "Comparisons and recommendations"?

[2015-10-26 19:34] rose-coste commented on #443
closed by https://github.com/rackerlabs/docs-container-service/pull/461
"Best Practices" articles listed first & second are now different from each other
![x1](https://cloud.githubusercontent.com/assets/957576/10740150/8f36ab42-7bee-11e5-8305-85d3b4cf547e.png)

[2015-10-26 19:34] #443 closed

[2015-10-26 19:34] meker12 commented on #443
Thank you for sorting out the problem Rose.  Looking at the history, it looks like I replaced the content with the Docker Swarm file.  Not sure how I did that, but next time I notice something like this, I'll investigate further rather than leaving it for someone else to sort out.

[2015-10-26 19:34] jnoller commented on #460
I think the carina CLI should be changed - in Dockers case they're implying physical separation of hosts (horizontal) scale out

[2015-10-26 19:35] carolynvs commented on #423
@rose-coste take the section title, change it to lower-case and replace spaces with hyphens. So a section title of "Comparisons and recommendations" would use `#comparisons-and-recommendations` as the link

[2015-10-26 19:35] jnoller commented on #460
@rgbkrk thoughts?

[2015-10-26 19:36] rose-coste commented on #323
Closed by https://github.com/rackerlabs/docs-container-service/pull/461
(sorry I didn't see this earlier report)

[2015-10-26 19:36] #323 closed

[2015-10-26 19:39] #423 closed

[2015-10-26 19:49] rose-coste commented on #423
What about titles with special characters, such as "Apache’s Mesos"?
I didn't know about "redcarpet renderer with the with_toc_data plugin" & am not finding user doc for it.  IfI learn more later I can add a section on linking in CONTRIBUTING.md, but for now the "use normal HTML anchors" advice is what's findable when searching for how to cross-reference within a Markdown article, so that's likely

[2015-10-26 19:56] carolynvs commented on #423
If you would like to know what the anchor is, just preview the page and view the underlying HTML to see what id was assigned. That said, I don't think it's the end of the world if an awkward section title is given a custom defined anchor.

I don't know what we want to recommend in the CONTRIBUTING. Probably the simplified version "Use all lower-case and convert spaces to hyphens. If it is exceptio

[2015-10-26 20:01] jnoller commented on #460
also @simonjj - I think we should ask users what makes sense.

[2015-10-26 20:08] kmsholcomb commented on #423
I like that @carolynvs. Anchors are acceptable if needed. I'll add something about creating the links to the Contributing.md file.

[2015-10-26 20:19] #437 closed

[2015-10-26 21:00] lauracly commented on #378
Kelly updated the URLs and also removed old screen shots. Will leave in place for M1 but decide quickly post-launch final disposition.

[2015-10-26 23:07] everett-toews opened #470 "FAQ"
Create a FAQ to be placed at https://github.com/rackerlabs/docs-container-service/tree/master/_getting-started/009-faq.md

[2015-10-27 02:58] rgbkrk commented on #460
Nodes comes directly from the current API. I can adjust the messaging in `carina` and ship another release.

People understand nodes from their logical point of view as a user. They're not thinking about how *we* host it, they're thinking about their apps running with their own IPs and resources.

[2015-10-27 14:11] #405 closed

[2015-10-27 15:12] kenperkins commented on #438
@ktbartholomew I think you fixed this, yes?

[2015-10-27 15:13] ktbartholomew commented on #438
Yep, fixed w/ https://github.com/rackerlabs/nexus-control/pull/225

[2015-10-27 15:13] #438 closed

[2015-10-28 16:03] jamiehannaford opened #495 "Broken docs links in control panel"
All of the documentation links in the right sidebar of the control panel (e.g. https://app.getcarina.com/app/signup) are broken.

[2015-10-28 16:42] everett-toews commented on #23
This [ehazlett/conduit](https://github.com/ehazlett/conduit) tool hasn't been touched in 5 months but it could do what we need without have to maintain more code.

Also, does [strider](https://github.com/Strider-CD/strider) fit into the picture here?

[2015-10-29 17:07] DonNateR opened #502 "Overview of Carina Control Panel"
Article would simply cover what all of the buttons do on our control panel do. Meant for real Carina beginners.

[2015-10-29 17:09] everett-toews commented on #502
@ktbartholomew Is this something that should belong on app.getcarina.com in a help section?

[2015-10-29 17:18] ktbartholomew commented on #502
We've discussed having a way of pulling deconst content into the control panel, so I'd say we put this with the rest of the docs for now, and we can look at syndicating it later.

[2015-10-29 18:03] everett-toews opened #503 "Building Docker images"
We have [Find and download a Docker image](https://github.com/getcarina/getcarina.com/blob/master/_tutorials/028-run-docker-image.md) but we don't have any real content dedicated to building a Docker image from the ground up.

There's lots of good stuff we can recommend to people like this advice from @smashwilson

[2015-10-29 18:17] smashwilson commented on #503
<_<

[2015-10-29 20:09] stanzikratel commented on #300
@jnoller I logged this while Ash was moving everything over to getcarina so it is fixed now. Thanks!

[2015-10-29 20:09] #300 closed

[2015-10-29 21:41] jnoller opened #504 "DVM: Tutorial, blog post & short screencast"
DVM solves a Real Problem - once the cleanup is done and @rgbkrk greenlights it, we should do a tutorial, blog and screencast on it

* [X] Tutorial
* [X] Blog
* [x] Screencast

[2015-10-29 21:47] simonjj opened #505 "Connecting Carina Swarms to other services privately."
People want to connect to cloud services. Wondering if something could be worked around using OpenVPN + VM Instance + Ambassador + Carina?

[2015-10-29 22:07] jnoller commented on #505
Document servicenet functionality available

[2015-10-29 22:07] jnoller commented on #505
Will work on 10/30

[2015-10-29 22:07] jnoller commented on #505
Carina Networking tutorial

[2015-10-29 22:15] everett-toews commented on #505
This is @rgbkrk's handy dandy racknet/ip image. We'll want to mover that to carina or carinamarina on Docker hub later next week.

`docker run --net=host racknet/ip service` returns the ServiceNet IPv4 address
`docker run --net=host racknet/ip public` returns the public IPv4 address

Get help using the util.

[code]

[2015-10-30 06:20] #470 closed

[2015-11-02 15:40] jnoller commented on #495
Missed the bug; but I fixed this last week

[2015-11-02 15:40] #495 closed

[2015-11-02 15:55] jnoller commented on #505
Blogged here: https://getcarina.com/blog/news-and-networking/ need to add a tutorial

[2015-11-02 15:58] jnoller opened #507 "Blog landing page / etc"
Need rss/atom - landing page, etc @ktbartholomew

[2015-11-02 16:00] ktbartholomew commented on #507
Need design for said blog @technabors

[2015-11-02 19:07] rgbkrk opened #508 "Update carina cli page with `brew` instructions"
Now that we have `brew install carina` available, we should provide that on https://getcarina.com/docs/getting-started/getting-started-carina-cli/. Also, chocolatey based installs have been good for a while thanks to @carolynvs. We should include both in the cli page.

[2015-11-02 19:14] rgbkrk commented on #508
/cc @annegentle

[2015-11-02 19:27] rgbkrk opened #509 "Set favicon"
Right now the favicon for getcarina.com is the little racker guy instead of the beautiful C for Carina.

[2015-11-02 19:31] carolynvs commented on #508
FYI, the Chocolatey package is still stuck in moderation... I've pinged them on gitter and I'll report back if I hear anything.

[2015-11-02 19:49] rgbkrk commented on #508
Ohhh yeah, I'm a bit forgetful. Sorry!

[2015-11-04 18:06] rose-coste commented on #31
Security Best Practices article is now set for Milestone 2. When we get back to it, make sure it's consistent with or connected to http://blog.rackspace.com/tech-deep-dive-with-carina-magnum-containers/#comment-2342692424, Adrian Otto's extensive response to a security-related question about his general Carina article.

[2015-11-04 18:18] rose-coste commented on #45
@zcorleissen & @lauracly: can we close this issue?

One topic discussed here, whether to publish 1 or many best-practices articles, seems settled: 16 best-practices articles are published at https://getcarina.com/docs/; others are waiting for M2.

Other suggestions of specific best practices can be tracked in their own issues if they still need to be written up.

[2015-11-04 18:26] #45 closed

[2015-11-04 18:26] lauracly commented on #45
Yes, I am fine with closing.

[2015-11-04 18:33] everett-toews commented on #40
We have a general troubleshooting article linked to by every tutorial now so that should be sufficient to close this issue.

https://github.com/getcarina/getcarina.com/blob/master/_tutorials/070-troubleshooting.md

[2015-11-04 18:33] #40 closed

[2015-11-04 18:43] everett-toews opened #511 "Every page is the first page"
Review every page from the perspective that it could be the very first page that someone could land on from a search.

Can they get enough context to orient themselves?
Can they navigate to the context they need?
Will the next step lead them down a path to using Carina?

[2015-11-04 18:45] everett-toews opened #512 "Create an info map"
Create an info map of the Carina docs to understand the paths a user could take.

[2015-11-04 18:48] everett-toews opened #513 "Curate the topics"
Come up with a curated list of topics (not necessarily written in stone) for the Jekyll front matter and all topics in the articles should come from this set.

Some suggestions:

* rackspace (or some topic name to indicate that the tutorial needs a full Rackspace public cloud account to work)
* level
* dvm
* carina-cli
* gui
* etc etc etc

[2015-11-04 18:52] everett-toews opened #514 "Doc dvm and carina CLI in the Create and connect to a cluster tutorial"
As soon as dvm is 100% ready to go, document it's use in the Create and connect to a cluster tutorial. Document use of the Carina CLI in the Create and connect to a cluster tutorial too.

Some open questions.

How do we best present the choice of GUI or CLI in the tutorial?
How does it fit in with the Getting Started and Getting Started with the CLI guides?

[2015-11-04 18:54] everett-toews opened #515 "How do we keeps docs up-to-date on an ongoing basis?"
DevDoc needs to align closely with product releases so content can be updated and tested.

[2015-11-04 18:57] everett-toews opened #516 "What to do with Windows content?"
We have some tutorials that are known to work with Windows but most are untested.

How do we prioritize the Windows content for Carina?
How do we display the Windows content (e.g. when tutorial content is mostly the same but Windows requires a different set of PowerShell/CMD commands instead of bash)?

[2015-11-04 18:59] everett-toews opened #517 "Display anchor icon beside section header"
Make it convenient for people to copy links to section headers so we can deep link people to the most relevant content.

[2015-11-04 19:01] everett-toews opened #518 "Display an "Edit this article" link at the bottom of pages"
Encourage users to contribute/correct content by linking them to the GitHub file editor.

e.g. https://github.com/getcarina/getcarina.com/edit/master/_getting-started/001-overview-of-carina.md

[2015-11-04 19:02] everett-toews opened #519 "Display a "File a bug" link at the bottom of pages"
Display a link to https://github.com/getcarina/getcarina.com/issues/new so users can easily file bugs.

[2015-11-04 19:04] everett-toews opened #520 "Prefix all links with {{ site.baseurl }}"

[2015-11-04 19:05] everett-toews opened #521 "Remove number prefix from all files"
The whole number prefix in the files is pretty nasty. Let's investigate alternatives with @ktbartholomew.

[2015-11-04 19:07] everett-toews opened #522 "Relocate content into new directories (buckets)"
Suggested buckets

* concepts
* tutorials
* getting-started
* troubleshooting
* reference
* rename best-practices to whitepapers

[2015-11-04 19:10] everett-toews opened #523 "Contextual navigation"
Some contextual navigation (like breadcrumbs) could be helpful to #511 and helping users understand the path they're on.

[2015-11-04 19:17] everett-toews opened #524 "Create a proper path for the "local" first content"
We have a lot of content that explains how to use Docker locally. Most everything in the 50-63 range.

However it doesn't really connect back to Carina in any way. We need a well-defined path from local development to development on Carina. If users want/need to start with local dev, we need to show them the path from there to Carina.

It should start with the installation of Docker locally, then

[2015-11-04 19:23] everett-toews opened #525 "Release notes"
Create a living release notes document to let users know what has been included in each major Carina release (e.g. when we do a release with a new version of Swarm and/or Docker).

[2015-11-04 19:30] rose-coste commented on #521
Yes. Today I'm likely taking down one of the best-practices articles, currently numbered 002. So that leaves 001 and 003 - 016. I'm assuming that gap in the sequence won't cause a problem in presenting the remaining articles at https://getcarina.com/docs/, but it seems safer to stop numbering.

[2015-11-04 19:44] rose-coste opened #526 "define un-publishing process"
When an article is no longer needed, do we delete it altogether? move it to an archive?

Before the Milestone 1 release, articles that were not yet ready to publish were moved to /_M2/ so they would not appear at https://getcarina.com/docs/ but remained available for further development.

What about articles we published but have now changed our minds about and want to un-publish rather than revis

[2015-11-04 20:08] ktbartholomew commented on #521
How is the correct order of articles determined? When new articles are added, how is their position in the series determined?

[2015-11-04 20:09] metral commented on #522
* best-practices / whitepapers should actually be "General Guide to Container Ecosystem"

[2015-11-04 20:24] rose-coste commented on #521
I think @lauracly determined the current order. I don't know of a process for revising the order as new ideas come along and old ideas fade out.

[2015-11-04 21:01] lauracly commented on #521
@everett-toews @kmsholcomb and I determined the order and used the numbers to get the articles to appear in that order.  Right now if a new article is added say at spot 3, then everything after 3 has to get renumbered (not great approach but it works). We left some gaps in between the article types to lessen the renumbering impact, but a better mechanism would be great.

[2015-11-04 21:09] rose-coste commented on #521
so in /best-practices/, I really am getting ready to delete 002 right now. I must then renumber 003 - 016 to become 002 - 015?

[2015-11-04 21:25] rose-coste commented on #526
For docs.rackspace.com, I have access to Google Webmaster Tools and can use it to tell Google that we've unpublished a page there and it should no longer be indexed. We'll need to do this for getcarina.com pages, too.

[2015-11-04 21:55] ktbartholomew commented on #521
Sounds like a job for a shell script!

Since the idea of numbering them is on the chopping block, leaving a gap is probably fine.

[2015-11-05 00:28] everett-toews opened #528 "Recommend removing container in tutorials"
If a tutorial isn't part of a series of tutorials and the user might not need the containers anymore, there should be an optional step at the end to remove only the containers created in the tutorial.

[code]

    The output of this `docker rm` command are the shortened IDs of the MongoDB and application containers that you removed.

    When the container is gone, so is your data.
[code]

[2015-11-06 17:46] #505 closed

[2015-11-06 17:49] everett-toews commented on #23
Users are already asking for this kind of content. Update this forum post when this issue is resolved. https://forums.docker.com/t/ci-cd-using-docker-need-suggestions-on-my-approach/4111

[2015-11-09 14:07] smashwilson opened #530 "Sitemap"
Enable a sitemap with [jekyll-sitemap](https://github.com/jekyll/jekyll-sitemap).

/cc @jnoller

[2015-11-10 15:15] jnoller opened #534 "tutorial needed: basic routing / networking"
![screen shot 2015-11-10 at 9 12 48 am](https://cloud.githubusercontent.com/assets/51528/11065877/548841f6-878b-11e5-93c4-2bd759de8d33.png)

tl;dr "how can I route network from the internet into my containers? where do I get the public IP? (I didn't find anything in the docs or api)"

A: You can also use docker port <container_id> to get the ip for that container
As well as docker info to get the

[2015-11-10 20:04] ktbartholomew commented on #507
https://getcarina.com/blog/

[2015-11-10 20:04] #507 closed

[2015-11-10 20:10] carolynvs commented on #514
I'm working on this from the dvm side in PR #537

[2015-11-10 20:56] everett-toews opened #538 "Make it possible to link to sections"
It should be possible to link directly to the individual sections under [All Articles](https://getcarina.com/docs/#articles).

e.g. I need to be able to be able to share a link with someone that will take them immediately to all tutorials.

[2015-11-10 21:53] #538 closed

[2015-11-13 16:31] kmsholcomb commented on #504
@carolynvs: Does this issue relate to the blog post and dvm tutorial you have written? If so, do you think we can close this issue? Or do we still need a screencast? Perhaps we could just leave a comment here about the progress that has been made? Thanks!

[2015-11-13 16:33] jnoller commented on #504
Screencast!!!

Jesse

[2015-11-13 17:01] kmsholcomb commented on #201
Draft of article is at https://github.com/getcarina/getcarina.com/blob/master/_M2/036-best-practices-ansible-docker.md.

[2015-11-13 17:05] kmsholcomb commented on #116
@carolynvs: does the dvm info you have written resolve this issue?

[2015-11-13 17:09] carolynvs commented on #504
Does my [gif](https://twitter.com/carolynvs/status/664498031841181696) count as a screencast? :smile:   If you have an example screencast that we've already done, that would be very helpful.

[2015-11-13 17:11] carolynvs commented on #116
@kmsholcomb It does for Carina, and we've documented the error message and how to fix it in the troubleshooting guide.

[2015-11-13 17:12] rgbkrk commented on #504
Updated the issue text with a checklist.

Do you have screenflow @carolynvs? I can also roll with this one.

[2015-11-13 17:20] everett-toews commented on #116
Solved by:

https://getcarina.com/docs/tutorials/troubleshooting/#error-response-from-daemon-client-and-server-don-39-t-have-same-version

https://getcarina.com/docs/tutorials/docker-version-manager/

[2015-11-13 17:20] #116 closed

[2015-11-13 22:14] kmsholcomb commented on #528
I added this instruction and boilerplate to the task tutorial template.

[2015-11-13 22:18] kmsholcomb commented on #380
Is this issue resolved by the creation of the "Troubleshooting common problems" article and the revision of the "Troubleshooting" sections in the existing tutorials?

I added the boilerplate for the "Troubleshooting" section to the https://github.com/getcarina/getcarina.com/edit/master/_M2/_000-tutorial-task-template.md and
https://github.com/getcarina/getcarina.com/edit/master/_M2/_000-tutorial-1

[2015-11-13 22:37] everett-toews commented on #380
Works for me. The troubleshooting section is much smaller now and doesn't present a "hurdle" for the reader to get to the Next Step section.

[2015-11-13 22:37] #380 closed

[2015-11-13 23:09] kmsholcomb commented on #520
I added this requirement to the link guideline in Contributing.md. However, that doesn't address the fact that the majority of existing links do *not* use `{{site.baseurl}}`.

[2015-11-15 16:59] everett-toews opened #549 "Service discovery tutorial"
We need a practical service discovery tutorial with an opinionated setup to go along with [Service discovery 101](https://getcarina.com/docs/tutorials/service-discovery-101/).

[2015-11-15 16:59] everett-toews commented on #549
One such tool to consider is http://gliderlabs.com/registrator/latest/

[2015-11-15 17:41] everett-toews commented on #549
Here's someone trying to use registrator on Carina https://github.com/getcarina/feedback/issues/15

[2015-11-15 21:43] #514 closed

[2015-11-16 17:50] lauracly commented on #525
We have a template we can use for this that can help guide what content should be in this type of document.

[2015-11-17 14:15] everett-toews commented on #503
From the Docker Cookbook

The order of the instructions in the Dockerfile is important. Adding package.json and installing dependencies before the addition of the rest of the application will help to shorten the build time in all cases when the application changes but dependencies remain the same. This is because the ADD instruction invalidates the Docker cache when any of copied files have been c

[2015-11-19 17:57] #517 closed

[2015-11-20 22:51] rosskukulinski commented on #460
From a user's point of view, I think of them as 'nodes'. Your internal structure (or naming scheme) doesn't really matter to me.

With that said however:

Is it possible for two segments of a cluster to be on the same physical host?  If so, then I understand why you went with 'segment'.  I also wouldn't understand why you would put two segments from a cluster on the same physical host, as that def

[2015-11-20 23:07] jnoller commented on #460
That's the key; a cluster is a swarm cluster on one libvrt host; so it's not physically spread out; a segment contains a swarm master but given its probably on the same host as the others calling it a node isn't correct.

True fan out as you mention will require more on the docker / overlay networking and / or kubernetes to set up the interconnects

[2015-11-21 00:48] rosskukulinski commented on #460
Interesting.  If I understand correctly, then Carina's "cluster" in its current form is nothing more than name-spacing on a physical host.  Segments are just syntactic namespacing without the benefit of isolation compared to "fan out" across physical hosts.

When you do roll out docker overlay networking and/or kubernetes, what are your thoughts on naming conventions there?  I'm not up to speed on

[2015-11-21 00:59] jnoller commented on #460
Yeah; terminology is awkward - https://getcarina.com/docs/overview-of-carina/ since its multi tenant chunks of hosts; it gets awkward. We'll have to adapt as we iterate and add more features such as allowing for deployment to VMs or onmetal / etc

What's doubly confusing is that while most swarm deployments are 1:1 docker always uses cluster/nodes. I'm beginning to warm to the idea that "segments"

[2015-11-23 17:45] #525 closed

[2015-11-23 18:04] lauracly opened #559 "Links to sections should not display a paragraph tag"
New linking capability causes a paragraph symbol to display in front of every "linkable" heading. These symbols shouldn't display, and only the heading should appear clickable.

[2015-11-23 18:22] ktbartholomew commented on #559
/cc @technabors @raedcabello

[2015-11-23 20:31] lauracly commented on #559
Hi everyone - evan is back in the office next week and can provide the UX perspective on this request. Just FYI.

[2015-11-24 16:21] rgbkrk opened #560 "Titles of some pages bloated with the site.title"
[From Reddit](https://www.reddit.com/r/programming/comments/3tx5r2/fallout_4_service_discovery_and_relay_carina_by/cxa17en):

These are a bit long in the tooth.

![screenshot 2015-11-23 13 05 27](https://cloud.githubusercontent.com/assets/836375/11372812/142518d6-9295-11e5-963d-6d5655fb4376.png)

Seems like we'll need a separate head.html for blog entries.

/cc @ktbartholomew

[2015-11-24 20:32] #560 closed

[2015-12-01 17:50] everett-toews opened #564 "Does it run Minecraft?"
Create a tutorial for Minecraft and Dockercraft.

[2015-12-01 20:52] ktbartholomew opened #565 "Display Status Information"

[2015-12-02 00:27] lauracly opened #566 "Create a tutorial for IRC bouncer"

[2015-12-02 00:46] lauracly opened #567 "Document out of memory behavior"
Moving over issue 22 from feedback to be a part of M1+ milestone.

[2015-12-02 00:47] lauracly commented on #567
Feedback issue: https://github.com/getcarina/feedback/issues/22

[2015-12-02 00:48] lauracly opened #568 "What happens to a container when the host dies?"
Moving over issue from feedback: https://github.com/getcarina/feedback/issues/16

[2015-12-02 00:50] lauracly opened #569 "CLI Screencast/video for zero to hero"

[2015-12-02 17:42] everett-toews commented on #549
[Understanding Modern Service Discovery with Docker](http://progrium.com/blog/2014/07/29/understanding-modern-service-discovery-with-docker/)

[Automatic Docker Service Announcement with Registrator](http://progrium.com/blog/2014/09/10/automatic-docker-service-announcement-with-registrator/)

[2015-12-02 17:44] everett-toews commented on #566
[Using Carina to Mimic IRCcloud](http://jjasghar.github.io/blog/2015/11/15/using-carina-to-mimic-irccloud/)

[2015-12-02 17:52] rgbkrk commented on #566
Seems like a good thing for the Carina Weekly too!

[2015-12-02 18:22] everett-toews commented on #228
@rgbkrk This got sorted right? What was the final resolution?

[2015-12-02 18:24] everett-toews commented on #4
This is covered in [Contributing | Legal](https://github.com/getcarina/getcarina.com/blob/master/CONTRIBUTING.md#legal) now.

[2015-12-02 18:24] #4 closed

[2015-12-02 18:28] everett-toews commented on #504
@carolynvs @rgbkrk Ping. Should Kyle take the screencast?

[2015-12-02 18:31] everett-toews commented on #378
@kmsholcomb Are we any closer to being able to deduplicate here?

[2015-12-02 19:07] rgbkrk commented on #228
The infra is setup via download.getcarina.com. We need automation in place to ship the carina binaries in the same way as dvm then we can pull the trigger on docs too.

[2015-12-02 19:26] lauracly commented on #521
@ktbartholomew will this require a code change since we use the numbers to keep the articles in a certain order today? Can you accommodate this work in the next few weeks?

[2015-12-02 19:30] ktbartholomew commented on #521
Yes, if we just remove the numbers, the order of all the posts would change. I'll get a PR going for a way to sort without the numbered files and we can continue the implementation discussion there.

[2015-12-03 16:14] kenperkins commented on #564
I love this idea!

I'm wondering if you're planning to do it in a way as to make doing it on Carina novel, and not just "do it on carina", but otherwise not really different from other articles on minecraft on docker.

Off the cuff possibilities:

- stateless deployment where the minecraft data is stored in the cloud (i have no idea how this would work)
- multi container cluster where you federate

[2015-12-03 19:47] rgbkrk opened #572 "Fallout 4 Blog Posts"
There will be at least four Fallout 4 posts, starting with the first that already went out (#556):

* [X] Fallout 4 Service Discovery and Relays
* [X] Community of Vault Dwellers across languages (#574)
* [ ] Reactive programming the pipboy from Fallout 4 with RxJS
* [ ] Setting up a Beacon to share your pipboy data from Fallout 4

[2015-12-03 19:51] kenperkins commented on #566
:+1:

[2015-12-03 19:55] everett-toews opened #573 "Let's Encrypt Tutorial"
From @rgbkrk

[code]

[2015-12-03 20:08] rgbkrk commented on #573
Here's my current bit slinging:

[code]

[2015-12-03 20:30] rgbkrk commented on #573
[code]

[2015-12-03 20:30] rgbkrk commented on #573
[code]

[2015-12-03 20:41] everett-toews commented on #564
@kenperkins and I discussed this and agreed that these might make good supplemental tutorials to a basic tutorial getting Minecraft up and running on Carina.

[2015-12-04 15:01] #521 closed

[2015-12-04 15:46] kmsholcomb commented on #378
I will take a look and leave a comment about the status.

[2015-12-04 16:11] carolynvs commented on #508
Both rack and carina have passed their automated testing but I'm still waiting for them to be released from moderation.

[2015-12-04 19:45] rgbkrk commented on #508
Maybe I should just make this one about `brew` and we make a new one about chocolatey.

[2015-12-04 20:03] carolynvs commented on #508
Yeah... I have no idea when they are going to finally get around to approving. They are in the middle of automating the moderation process, so in the future this shouldn't suck so hard. :smile:

[2015-12-07 15:55] everett-toews opened #584 "Shipyard tutorial"
@jnoller Already did all of the hard work. Just needs words now.

https://gist.github.com/jnoller/d643ce38ced8548a7dcc

[2015-12-07 15:56] everett-toews commented on #573
https://getcarina.com/blog/weekly-news-docker-sock-letsencrypt/

[2015-12-07 19:55] carolynvs opened #585 "Update carina cli page with `chocolatey` instructions"
See #508. We need to do this for our chocolatey once it finally makes it through moderation.

[2015-12-07 19:56] carolynvs commented on #508
I've made a #585 and given this back to @rgbkrk to wrap up for brew.

[2015-12-08 20:54] everett-toews commented on #584
https://getcarina.com/blog/running-shipyard-on-carina/

We'll also need a way to lock down the etcd instance used in that post or it could get jacked. If it can't be reasonably locked down, there should be a caveat about it.

[2015-12-08 21:04] lauracly commented on #522
@ktbartholomew @everett-toews We discussed the proposed buckets. Did we ever come to a consensus? I wanted to get this issue and the URL ones done before too much new content is created.

[2015-12-08 21:05] lauracly commented on #520
@ktbartholomew @everett-toews what is the next step here - should I go into all of the articles and add this?

[2015-12-08 21:43] ktbartholomew commented on #520
@lauracly I'll write a little script to take care of this.

[2015-12-08 21:44] lauracly commented on #520
Sounds good to me - thanks Keith.

[2015-12-08 21:58] everett-toews commented on #522
* tutorials
* getting-started
* troubleshooting
* reference
* ecosystem (best-practices renamed)

[2015-12-08 22:35] rgbkrk commented on #520
D'oh! I'm an offender here.

[2015-12-09 20:08] ktbartholomew opened #594 "Use fontawesome "fa-link" instead of pilcrow to indicate anchor links"
http://fortawesome.github.io/Font-Awesome/icon/link/

For consistency w/ anchor links on developer.rackspace.com

[2015-12-09 20:50] DonSchenck opened #596 "Update troubleshooting to include case where swarm host has been stopped"
Running docker rm -f $(docker ps -a -q) will raise the exception

```Cannot connect to the Docker daemon. Is "docker -d" running on this host?```

To fix this, the cluster must be rebuilt.

[2015-12-09 21:51] #596 closed

[2015-12-09 23:29] #520 closed

[2015-12-10 17:18] kmsholcomb commented on #522
The attached spreadsheet lists the current articles and which buckets to put them in. Let me know if you have any questions. Thanks!

[Carina buckets.xlsx](https://github.com/getcarina/getcarina.com/files/58402/Carina.buckets.xlsx)

[2015-12-10 17:18] kmsholcomb commented on #522
Note that the spreadsheet does not list the current best practices articles, which will all just be put into the new "ecosystem" bucket.

[2015-12-10 23:07] #564 closed

[2015-12-11 14:19] #522 closed

[2015-12-11 18:42] kmsholcomb commented on #378
After talking to Carolyn, I updated links to `create-connect-cluster.md` and deleted the redundant `carina-credentials` article. We decided to keep the "load" articles as part of "local Docker" path.

[2015-12-11 20:54] #378 closed

[2015-12-13 16:50] everett-toews opened #608 "Page not found"
After #522 some content should have been published to new URLs.

e.g.
https://github.com/getcarina/getcarina.com/blob/master/_reference/2015-10-18-faq.md published to https://getcarina.com/docs/reference/faq/

https://github.com/getcarina/getcarina.com/blob/master/_reference/2015-10-17-release-notes.md published to https://getcarina.com/docs/reference/release-notes/

But we get 404s for both pages

[2015-12-13 17:59] smashwilson commented on #608
I'm not seeing references to the metadata envelopes for those files in the [latest build output](https://travis-ci.org/getcarina/getcarina.com/builds/96365790). Are we missing some kind of configuration flag to build them... ?

[2015-12-14 16:29] everett-toews commented on #608
http://www.brokenlinkcheck.com/ seems to do a decent job of reporting on broken links.

<img width="551" alt="screen shot 2015-12-14 at 10 27 50 am" src="https://cloud.githubusercontent.com/assets/634901/11786684/790bd7e0-a24d-11e5-9edc-c772e37a2559.png">

[2015-12-14 16:35] #608 closed

[2015-12-14 16:58] ktbartholomew opened #610 "Implement broken-link checking as a build process"
Our content has a lot of inter-linking based on URLs, so renaming or moving one article could potentially break links in many others. Let's reduce contributor anxiety by checking of broken links either on build or on a schedule.

Putting it on a cron is a little too "dumb" for my tastes, since we know our content is 100% static between builds. Checking before a PR is merged is also challenging tho

[2015-12-14 17:21] everett-toews opened #611 "GUI Screencast/video for zero to hero"

[2015-12-14 18:08] rgbkrk commented on #504
Yes indeedy. Doing it now.

[2015-12-14 19:49] rgbkrk commented on #504
Here's a draft screencast:

[dvm.mp4.zip](https://github.com/getcarina/getcarina.com/files/61670/dvm.mp4.zip)

[2015-12-14 19:50] rgbkrk commented on #504
Where are we pushing screencasts to? It's braindead simple for me to post them to my personal YouTube or an account we run. Otherwise, happy to upload them... somewhere.

[2015-12-16 21:43] lauracly commented on #31
@major @rgbkrk - is this content ready for the M1+ milestone? Can we repurpose it into a conceptual article? Can you provide any updates?

[2015-12-16 22:49] everett-toews commented on #549
[Scalable Architecture DR CoN: Docker, Registrator, Consul, Consul Template and Nginx](http://www.maori.geek.nz/scalable_architecture_dr_con_docker_registrator_consul_nginx/)

[Running a Small Docker Swarm Cluster](http://blog.scottlowe.org/2015/03/06/running-own-docker-swarm-cluster/)

[2015-12-16 22:55] rgbkrk commented on #31
This content went in it looks like, then promptly tossed at some point by an aberrant merge commit. I can bring it over again.

[2015-12-17 20:18] #508 closed

[2015-12-17 21:27] rgbkrk commented on #585
Never fear, another release is here. :stuck_out_tongue_winking_eye:

[2015-12-17 22:05] everett-toews commented on #611
:shipit: [Carina Zero to Hero GUI](https://www.youtube.com/watch?v=FEzVdcwbPc4&feature=youtu.be)

[2015-12-17 22:05] #611 closed

[2015-12-17 22:05] everett-toews commented on #569
:shipit: [Carina Zero to Hero CLI](https://www.youtube.com/watch?v=HnnXMo3ecSA&feature=youtu.be)

[2015-12-17 22:05] #569 closed

[2016-01-04 16:39] everett-toews opened #615 "TOC needed for FAQ"
From @simonjj

https://getcarina.com/docs/reference/faq/

Original issue: https://github.com/getcarina/feedback/issues/17

[2016-01-05 20:04] #615 closed

[2016-01-11 13:19] dalareo opened #617 "I get "Error response from daemon: 500 Internal Server Error: database or disk is full""
My cluster suddenly stop to work. I cannot backup my container data creating a new volume because I get the message above.
If I try to start the stopped container again I get:
    Error response from daemon: Cannot start container c83265b6622c184c4c72121fd63b8348502df3eddc79cf51c17146963ba55f55: container already connected to network bridge

[2016-01-11 14:43] coreypobrien commented on #617
The "database or disk is full" error is likely due to your local disk being full. Unfortunately docker doesn't provide any good way to see local disk usage through the API, but if you have any cleanup you can do of old images or volumes that may unblock you enough to get the backup done to external data storage.

[2016-01-11 19:13] dalareo commented on #617
Ok. Thanks. How much space can be allocated?

[2016-01-11 19:13] #617 closed

[2016-01-11 20:18] everett-toews commented on #617
You get 20 GB of disk space per segment, see [What resources does a single cluster have?](https://getcarina.com/docs/reference/faq/#what-resources-does-a-single-cluster-have).

[2016-01-11 20:26] dalareo commented on #617
I was using two segments... and absolutely no more than 10gb. Anyway I couldn't save my container data...

[2016-01-11 21:56] everett-toews commented on #617
@dalareo If it happens again, do a `docker info` on your cluster and let us know that info so we can help find out how your disk space is getting used up.

Disk space isn't exposed by the Docker API so we're not exactly sure how we're going to expose this info yet. It's being tracked in the issue [Disk stats](https://github.com/getcarina/feedback/issues/33).

[2016-01-12 16:34] jnoller opened #621 "Zero downtime deployment with Carina: How-To request"
How does a user do a zero downtime deployment using carina for their application, from @rossk on irc: "do you have any docs / tutorials on doing deploys by shipping a new container with carina" - this would be a zero downtime style application deployment

[2016-01-12 21:54] everett-toews commented on #549
@murali44 I'm thinking now I'd like to base this tutorial on the Consul that will be provided when a cluster starts. Can you please update this issue when that gets released?

[2016-01-13 04:43] everett-toews opened #622 "Store private Docker registry images on Cloud Files tutorial"
Adapt this blog post [Flexible Private Docker Registry Infrastructure](http://tech.paulcz.net/2016/01/flexible-docker-registry-infrastructure/) into a tutorial and give a shoutout to the original author in the Resources section.

[2016-01-14 15:54] #622 closed

[2016-01-14 16:34] lauracly commented on #572
Hey there - just checking in. Are you continuing this series of posts? Is there a target date for the third post?

[2016-01-14 16:35] lauracly commented on #549
HI there - should this remain part of M1+ if you are waiting on additional functionality?

[2016-01-14 16:36] lauracly commented on #504
Did you get an answer on where to post the screencasts? Is this something that still needs to be figured out?

[2016-01-14 16:37] lauracly commented on #31
@rgbkrk did this get added back in? Can you give an update?

[2016-01-14 16:41] rgbkrk commented on #572
I went deep into Frontend dev for the third post and ending up encompassing the fourth post while I was at it. I'm currently breaking it apart into some decent narratives now.

[2016-01-14 16:42] rgbkrk commented on #504
We're all set now and these have been submitted to the youtube channel for upload.

[2016-01-14 16:42] #504 closed

[2016-01-14 16:53] rgbkrk commented on #31
It's here actually: https://github.com/getcarina/getcarina.com/blob/master/_M2/001-container-security.md

[2016-01-14 16:57] lauracly commented on #31
Great - it doesn't look like that one is live on the site. Is it ready to publish?

[2016-01-14 17:00] rgbkrk commented on #31
Seems fine to me. We can iterate on it further after publication.

[2016-01-14 20:12] everett-toews commented on #549
It could move to M2 if that works better for you. But whatever milestone it's in, it's probably best to go ahead and publish it when it's ready.

[2016-01-14 21:38] lauracly commented on #31
Checked with Kelly - she hasn't edited it yet.  I think we should send to her and have her give edits, and then push out. Sound good? I gave her the heads up to go ahead and edit it.

[2016-01-15 16:41] DonSchenck commented on #568
I'll take this one!

[2016-01-15 16:43] everett-toews commented on #568
This is at most a sentence or two to be put in https://getcarina.com/docs/concepts/docker-swarm-carina/#carina-segments

[2016-01-15 16:47] lauracly commented on #567
Should start with the error that is thrown when you run out of memory. And then give the recovery steps. Can add this to the existing Troubleshooting Common Problems article.

[2016-01-15 16:50] everett-toews commented on #567
https://getcarina.com/docs/troubleshooting/common-problems/

[2016-01-15 17:22] zack-shoylev commented on #566
I am working on a guide that uses Quassel as the "bouncer"

[2016-01-15 18:15] kmsholcomb commented on #31
Hi @major @rgbkrk @lauracly: The attached Word doc contains my editorial markup for the article. All in all, my markup is pretty light! My main concern is that the beginning of the article is a bit confusing because it does not provide a clear introduction to the article and provides two links without sufficient context. I think that could be cleared up pretty easily. I also left a note at the end

[2016-01-15 21:11] carolynvs opened #628 "Explain Swarm image affinity workarounds"
See https://community.getcarina.com/t/multiple-containers-with-the-same-image/101/4?u=carolynvsrax for the user question and my answer.

I think this should be in the troubleshooting guide as I didn't see anything on the site yet that addressed the error message and workarounds (image affinity or using a registry). Probably as a separate troubleshooting article, and not part of the common problems

[2016-01-17 23:00] everett-toews opened #631 "Make the Powered by Carina badge available somewhere on the site"
[carina_badges.pdf](https://github.com/getcarina/getcarina.com/files/93647/carina_badges.pdf)
[carina-badges.zip](https://github.com/getcarina/getcarina.com/files/93648/carina-badges.zip)

[2016-01-18 14:32] carolynvs commented on #631
Is getcarina.com powered by Carina? :grinning: We could add the badge to our own site if that's the case!

[2016-01-18 16:34] everett-toews commented on #631
I'm workin on it!

[2016-01-19 14:11] everett-toews opened #633 "Verbiage for non-Racker contributors"
We have our first guest blog post in PR #630!

We should display some verbiage at the top of such posts, conditional on `authorIsRacker: false` that mentions the author awesome but not a Racker yada yada yada.

[2016-01-19 14:43] ktbartholomew commented on #633
What's the motivation behind explicitly stating that the author isn't a Racker?

[2016-01-19 19:41] rgbkrk commented on #633
Stating 'Guest post' makes sense to me and certainly friendlier than "non-Racker"

[2016-01-19 19:41] rgbkrk commented on #633
A carinaut, like an astronaut?

/me shows himself out

[2016-01-19 19:43] lauracly commented on #633
Guest post is my preference. @kmsholcomb agree?

[2016-01-19 19:44] lauracly commented on #31
@rgbkrk are you entering the edits from Kelly?

[2016-01-19 19:45] ktbartholomew commented on #633
**This post was contributed by a member of the Carina community** Are you doing something awesome with Carina that you'd like the world to know about? Share it here! [learn how](https://github.com/getcarina/getcarina.com/blob/master/CONTRIBUTING.md)

[2016-01-19 19:50] everett-toews commented on #633
Works for me. @kmsholcomb gets the final call.

[2016-01-19 19:55] kmsholcomb commented on #633
Um, I suppose I'd like to see whatever verbiage we are suggesting in context. If we just have a label like "Guest post," where would that go? Or, if we have a paragraph like Keith suggests, where would we place it? I wouldn't think that we'd want to put much extra text at the top of the article. It seems like we'd want something "labelish" and brief at the top, maybe next to the author's name, and

[2016-01-19 20:03] ktbartholomew commented on #633
If we're trying to strengthen the credibility and active-community-warm-fuzzies of the post, a brief caveat at the beginning is the place to do it. The reality of the web is that most people aren't going to read our posts all the way to the end, so explaining that it's a guest post at the end will add very little value.

A "label" would just go inline next to the author's name and would be very ou

[2016-01-19 20:22] kmsholcomb commented on #633
Thanks for the explanation and context! I'm fine with the proposed wording, although I suppose I'd suggest a couple little tweaks:

**This post was contributed by a member of the Carina community**. Are you doing something interesting with Carina that you'd like to tell the world about? Share it here! [Learn how](https://github.com/getcarina/getcarina.com/blob/master/CONTRIBUTING.md).

[2016-01-19 20:25] ktbartholomew commented on #633
Thanks @kmsholcomb!

[2016-01-19 20:28] rgbkrk commented on #31
Not right now, currently working on blog posts that are tagged for me to complete.

[2016-01-19 20:56] zack-shoylev commented on #567
I will look into it soon if nobody else picks this up.

[2016-01-19 21:28] everett-toews commented on #567
Thanks for unlicking the :cookie: until you actually have it in progress. :)

[2016-01-19 21:30] lauracly commented on #31
I can sign up for the basic edits, but there are a few questions in there that the author must answer. @rgbkrk is that you, or should @major answer them?

[2016-01-19 21:40] everett-toews commented on #31
I'll try to get to this tomorrow.

[2016-01-19 21:53] everett-toews commented on #31
@lauracly Sorry I missed your earlier comment. How about we team up?

Can you do the basic edits and I'll do the bigger picture questions?

[2016-01-19 21:55] lauracly commented on #31
@everett-toews yes let's do that. I can get the edits done today, and then pass along to you for the follow up questions. Sound good?

[2016-01-19 22:02] everett-toews commented on #31
@lauracly SGTM!

[2016-01-19 23:21] lauracly commented on #31
Edits are in file, and merged. @everett-toews you can disposition the questions directly into the updated base article.

[2016-01-19 23:30] #633 closed

[2016-01-19 23:35] ktbartholomew opened #635 "O'Reilly video is missing"
https://getcarina.com/blog/oreilly-carina/ embeds a video from Brightcove that's no longer there.

/cc @rgbkrk @jnoller

[2016-01-20 15:30] #568 closed

[2016-01-20 15:48] carolynvs commented on #6
@everett-toews FYI, I am working on this now and it is shaping up to be a series of articles. Should I make separate issues for each chunk of content that I'm thinking of?

* install asp.net and publish a site to carina using windows + visual studio (the old fashioned way)
* install asp.net and publish a site to carina using any platform and the command line (new hotness)
* how to test and debug u

[2016-01-20 16:12] carolynvs commented on #6
I think splitting up is the right way to do this. I'm going to make the issues from my last comment and then close this one.

[2016-01-20 16:17] carolynvs opened #637 "Publish an ASP.NET website to Carina"
Covers the following:

* Install ASP.NET
* Publish from Visual Studio
* Publish from the command line (cross platform)

Split off from #6.

[2016-01-20 16:21] #585 closed

[2016-01-20 16:22] carolynvs opened #638 "Docker-based CI/CD for an ASP.NET website"
Cover:
* Docker based CI/CD and why it's important when doing cross platform development when developing on windows and deploying to linux.
* How to integrate Visual Studio Online with Carina

Split off from #6.

[2016-01-20 16:27] carolynvs opened #639 "Locally test and debug an ASP.NET website in a Docker container"
It's pretty easy when developing on Windows to reference things that won't work on linux with core clr. Knowing how to test and debug on a local container should help a ton, and build up a good foundation for the next part: ci/cd.

Split off from #6

[2016-01-20 16:27] #6 closed

[2016-01-20 17:09] everett-toews commented on #6
:+1:

(sorry I missed the earlier ping)

[2016-01-20 19:23] rosskukulinski opened #641 "Many broken links on FAQ page"
Reading through your [FAQ](https://getcarina.com/docs/reference/faq/), it seems that many of your links are broken.  For example, the link "Connect containers with Docker links", directs people to the following URL:

https://getcarina.com/docs/reference/faq/%7B%7B%20site.baseurl%20%7D%7D/docs/tutorials/connect-docker-containers-with-links/#connect-two-containers-with-a-docker-link

[2016-01-20 19:52] lauracly commented on #641
Hi there - yes I see what you are talking about. Thanks for pointing this out, and we will get it corrected as quickly as we can.

[2016-01-20 20:54] #641 closed

[2016-01-20 21:04] everett-toews opened #644 "Allow for more than one author for articles"
[code]

[2016-01-21 01:21] #31 closed

[2016-01-21 21:54] jnoller commented on #635
here u go: https://www.youtube.com/watch?v=6l_YK_IfO48&feature=youtu.be

[2016-01-21 22:19] #635 closed

[2016-01-22 16:06] lauracly opened #647 "Update Troubleshooting article to move content into front matter"
To reuse content, need to put content into Front Matter. See FAQ and Glossary for examples of how to do this.

[2016-01-26 15:56] lauracly commented on #572
Moving to M2 to allow more time to complete final 2 posts.

[2016-01-26 17:02] smashwilson opened #652 "Tutorial for using Let's Encrypt certificates with nginx"
Write a tutorial that covers:

* Using the official [Let's Encrypt](https://letsencrypt.org/) Docker image to issue certificates for your domain.
* Storing your certificates in a data volume container to make them available for backups and recovery.
* Building an nginx container that mounts the data volume and uses it to terminate TLS that gets an A rating from SSLLabs.
* Scheduling automatic cert

[2016-01-26 17:04] smashwilson commented on #652
The nginx and Apache guides for Letsencrypt will be identical up to point 3 there. Should we `_include` that as common content?

[2016-01-26 18:00] everett-toews commented on #652
If doing an `_include` works out, great.

For the backup and recovery, we should try to have it work with [cf-backup](https://hub.docker.com/r/carinamarina/cf-backup/) and [cf-restore](https://hub.docker.com/r/carinamarina/cf-restore/).

[2016-01-27 16:14] carolynvs commented on #644
I'd like this too, for when we collaborate on a tutorial. :+1:

[2016-01-27 16:18] carolynvs opened #654 "Riding dinosaurs on Carina"
I've been playing Ark: Survival Evolved, and working on how to run a server on Carina.

![ark](https://cloud.githubusercontent.com/assets/1368985/12619770/2b06dedc-c4df-11e5-9156-be77bdc455af.jpg)

[2016-01-27 16:26] carolynvs commented on #559
I like @ktbartholomew 's suggestion to use the standard font-awesome link icon #594. The paragraph symbol is confusing.

[2016-01-27 16:29] carolynvs commented on #228
Closing as this is now fully automated.

[2016-01-27 16:29] #228 closed

[2016-01-27 16:35] carolynvs commented on #194
I have made aliases for some commands that I run all the time

Get the logs for the last run container. I aliased to **dl**.

[code]

Get the port(s) and ip for the last run container. I aliased to **dp**.
[code]

[2016-01-27 16:36] carolynvs commented on #19
Cloud Databases was taken care of by #624

[2016-01-27 17:28] rgbkrk commented on #228
:tada:

[2016-01-27 23:10] everett-toews commented on #194
`alias de='env | grep DOCKER_ | sort'`

[code]

[2016-01-28 17:20] lauracly commented on #567
@zack-shoylev what is your outlook for completing this update? By EOD tomorrow?

[2016-01-28 17:27] zack-shoylev commented on #567
No, I am distracted by customer issues. It will have to be next week.

[2016-01-28 17:33] rosskukulinski commented on #631
Hi - is there any legal or other things to be worked out before displaying a Powered By Carina badge on my site?

[2016-01-28 17:48] jnoller commented on #631
Nope @rosskukulinski

[2016-01-28 17:53] rosskukulinski commented on #631
Thanks @jnoller - I can remove the powered by rackspace logo on [yodlr](https://getyodlr.com) and replace it with powered by carina :)

[2016-01-28 17:54] lauracly commented on #567
Thanks for the update.

[2016-01-28 18:27] rgbkrk commented on #631
:heart:

[2016-01-28 20:21] everett-toews commented on #631
@rosskukulinski  Would you like to do a guest blog post on https://getcarina.com/blog/ about yodlr?

It could be as detailed or not as you like. It would be some extra exposure for yodlr.

(If someone has asked you this already, apologies for the dupe request)

[2016-01-28 20:38] rosskukulinski commented on #631
Hi @everett-toews. That sounds like a great idea.  I actually have two blog posts that I'm going to write related to Carina.  The first covers how Yodlr is using Carina (and how/why we migrated from onMetal).  The second is a larger discussion / evaluation of bare-metal container environments (carina & triton & home-built).

[2016-01-28 21:32] everett-toews commented on #631
Cool. If you want to put it on our blog, here's an example of a previous guest blog post [Deploying and building Minecraft as a Service on Carina](https://github.com/getcarina/getcarina.com/blob/master/_posts/2016-01-17-deploying-and-building-minecraft-as-a-service.md). If you want to put it on your own blog, please let us know when/where it lands. Thanks!

[2016-01-28 23:18] everett-toews opened #656 "Parse server tutorial"
The Parse server is a Mobile-Backend as a Service. Having a tutorial on this would enable users to deploy mobile app backends on Carina. Couple this tutorial with Mongo on Carina or Mongo on ObjectRocket and you could be up and running pretty quickly.

[2016-01-29 15:02] ktbartholomew commented on #656
Is this the same Parse that's getting shut down? http://blog.parse.com/announcements/moving-on/

[2016-01-29 15:41] everett-toews commented on #656
Yep. That's what motivated this issue.

[2016-01-29 15:49] ktbartholomew commented on #656
Ohh, I see. Parse-server is the migration solution. I thought we were going to be writing a tutorial for an already-defunct service. Carry on! :notes:

[2016-01-29 21:55] ktbartholomew commented on #656
We should see about making it on this list once the tutorial is ready: https://github.com/ParsePlatform/parse-server/wiki#community-links

[2016-01-29 22:01] #566 closed

[2016-02-01 22:05] therealbill commented on #549
@everett-toews Should I take "the Consul that will be provided" to mean Consul will be an integrated part of Carina - as in: I don't have to set my own Consul cluster up when using it?

[2016-02-01 22:07] rosskukulinski opened #661 "Monitor CPU/Memory Utilization"
Hello,

I'm interested in monitoring the CPU/Memory/Network utilization of the containers in my carina swarm.  Ideally, these metrics can be sent to a statsd instance (but perhaps that's too much to ask :)).

docker stats <containerid> seems to be working for dev purposes, but doesn't provide a long-term monitoring option.  I was hoping to tap into /var/run/docker.sock, but the [image I found](htt

[2016-02-01 22:18] everett-toews opened #662 "Go template formatting broken on Redis tutorial"
https://github.com/getcarina/getcarina.com/blame/master/_tutorials/data-stores-redis.md#L116-L117

don't render properly

https://getcarina.com/docs/tutorials/data-stores-redis/#run-a-redis-instance

[2016-02-01 22:23] everett-toews commented on #662
https://github.com/getcarina/getcarina.com/pull/653#discussion-diff-51329182R61

has the proper escaping to get it to appear correctly.

[2016-02-01 22:26] stanzikratel opened #663 "Carina UI not fully functional on Internet Explorer 10: Built clusters are not visible"
When you try to add a cluster in IE 10, you cannot see how the cluster is built and also cannot access the built cluster.
I did an **Add Cluster** in IE 10 today and specified the relevant cluster information. When I clicked **Create Cluster**, the UI went back to **Add Cluster** and it appeared as if my cluster wasn't building. I then checked my account in Firefox and saw that my cluster had buil

[2016-02-01 22:30] everett-toews commented on #549
@therealbill Correct.

[2016-02-01 22:33] rosskukulinski opened #665 "Web UI does not handle additional segments"
I requested (and received) an increase in the max-segments for my clusters.  The main dashboard seems to only ever display a maximum 3 segments.  Looking at the cluster details, however, it does show the increased number of segments.

[2016-02-01 23:04] everett-toews commented on #662
Yarg. This is still borked with the double quotes around 6379/tcp.

[2016-02-01 23:12] therealbill commented on #549
@everett-toews  Woohoo! Consul seems to be creeping its way into my work more and more, and that is a good thing IMO. ;)

[2016-02-02 02:19] everett-toews commented on #549
@therealbill I'd love to hear about how you're using it. Is there anything you can link me to?

[2016-02-02 14:42] carolynvs commented on #663
IE10 isn't supported anymore by microsoft, so I don't think we should target it. However, I just tested on IE11, and it is broken there as well. Even after logging out and in again, I don't see the new cluster, even though it is present and active.

I also discovered that when you log out, you can't log in as another user. It keeps logging me in as my previous user. I assume all of this is a buggy

[2016-02-02 15:37] everett-toews opened #667 "Need raw plugin for easy code escaping"
ala https://github.com/rackerlabs/docs-developer-blog/blob/master/_plugins/raw.rb

It would be very helpful for https://github.com/getcarina/getcarina.com/issues/662

[2016-02-02 15:37] therealbill commented on #549
@everett-toews sure, I'll hit you up in slack to avoid spamming this issue with them. ;)

[2016-02-02 15:42] carolynvs commented on #667
We are already using raw and endraw on getcarina. See step 2 in https://github.com/getcarina/getcarina.com/blob/master/_tutorials/2015-10-11-connect-docker-containers-with-links.md and it's rendered just right: https://getcarina.com/docs/tutorials/connect-docker-containers-with-links/

[2016-02-02 15:50] ktbartholomew commented on #667
I don't think there's need for a plugin, as this functionality is built-in to Liquid: https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#tags

[2016-02-02 15:53] ktbartholomew commented on #665
To support this, we would need to present a `node_limit` property in the make-swarm API. Currently no data on limits is provided, so we just assume it's 3.

/cc @thomasem

[2016-02-02 15:55] ktbartholomew commented on #663
Could one of you send a screenshot or gif of the problem @stanzikratel described?

[2016-02-02 15:57] everett-toews commented on #667
Trying ... https://github.com/getcarina/getcarina.com/pull/668

[2016-02-02 16:01] carolynvs commented on #663
I'll get that in a bit.

[2016-02-02 16:28] carolynvs commented on #663
Here you can see that new clusters don't show up, even after refreshing the page.

![add-cluster-ie11](https://cloud.githubusercontent.com/assets/1368985/12755966/2d359cb8-c997-11e5-97f4-d78f023330e7.gif)

Here you can see that when I log out and log in as another user, it logs me in as the previous user, and still doesn't show the new cluster either. Clearing the cache fixes it.

![logout-login-i

[2016-02-02 18:50] everett-toews commented on #667
raw to the rescue

[2016-02-02 18:50] #667 closed

[2016-02-02 18:51] everett-toews commented on #662
Just needed to use `{% raw %}...{% endraw %}`.

[2016-02-02 18:51] #662 closed

[2016-02-02 19:54] zack-shoylev commented on #567
https://github.com/getcarina/feedback/issues/36

[2016-02-03 13:54] #652 closed

[2016-02-04 15:43] #29 closed

[2016-02-05 19:04] #637 closed

[2016-02-08 20:51] #594 closed

[2016-02-09 15:25] #628 closed

[2016-02-10 16:28] kenperkins opened #675 "Tutorial on setting up docker logging driver on Carina using TLS"

[2016-02-16 21:26] everett-toews commented on #639
@carolynvs Is this done?

[2016-02-16 21:28] carolynvs commented on #639
Nope! It's not even on my radar right now which is why I haven't licked this :cookie: yet.

[2016-02-16 21:29] everett-toews opened #686 "Network tutorial"

[2016-02-16 21:31] everett-toews commented on #573
@rgbkrk @smashwilson Can we close this?

[2016-02-16 21:32] everett-toews opened #687 "Overlay network blog post"

[2016-02-16 21:33] everett-toews opened #688 "Weekly news blog post for 2016-02-19"

[2016-02-16 21:34] everett-toews opened #689 "Weekly news blog post for 2016-02-26"

[2016-02-16 21:34] everett-toews opened #690 "Weekly news blog post for 2016-03-04"
* [ ] tic-tac-toe
* [x] https://github.com/getcarina/jupyterhub-tutorial
* [ ] Edit on Github for blog posts and docs
* [ ] Leave typos in the post
* [ ] roll in the glibc stuff
* [ ] RxJS map building

[2016-02-16 21:36] everett-toews opened #691 "Docker 1.10 updates"

[2016-02-16 21:37] rgbkrk commented on #573
Yup, we now have a converged tutorial that people have been visiting!

[2016-02-16 21:37] #573 closed

[2016-02-16 21:43] everett-toews opened #692 "2016-02-15 release updates epic"
The [2016-02-15 release](https://getcarina.com/docs/reference/release-notes/#february-15-2016) contains a lot of goodness. We need to update all tutorials in light of this release.

Things to look at per tutorial:

* Should it use an overlay network?
 * If the tutorial uses multiple containers that need to communicate, they should probably use a network.
 * Like we use `mycluster` as the default c

[2016-02-16 21:44] #691 closed

[2016-02-16 21:46] carolynvs commented on #692
Why remove all usage of `--link`? Seems like it is still a useful and supported construct in 1.10, though isn't needed for the same scenarios as it was before. I was thinking we should rework networking tutorials to kill ambassador pattern and use links in slightly different scenarios.

[2016-02-16 21:59] rgbkrk commented on #692
Were the uses of `--link` only related to networking, not volumes?

[2016-02-16 22:10] everett-toews commented on #692
@carolynvs Links are now considered "[legacy](https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/)" and they [behave differently when used in the default docker0 bridge network compared to user-defined networks](https://docs.docker.com/engine/userguide/networking/dockernetworks/#links). I think this would be a real point of confusion for our users. I don't think we sho

[2016-02-16 22:16] carolynvs commented on #692
@everett-toews Okay I guess I'm confused by Docker's messaging on links. In their [public announcement](https://blog.docker.com/2016/02/docker-1-10/) they didn't call links "legacy" or discourage using them:

[code]

[2016-02-16 22:48] everett-toews commented on #692
@carolynvs Ya. That's the confusing part to me. When using the default bridge, `--link` works like it used to. When using an overlay network, `--link` aliases a hostname. Same flag, two different behaviours in two different contexts.

I'd like to see use move towards ubiquitous use of overlay networks as they're more secure and allow your containers to run on any segment yet still access container

[2016-02-17 02:56] rosskukulinski commented on #686
@everett-toews something to touch on: what's the process for getting access to these fancy new networks?  Do existing clusters need to be destroyed and new ones created?  Is there an in-place upgrade process?

[2016-02-17 03:46] rgbkrk commented on #686
You'll need to create a new cluster.

[2016-02-17 16:31] jnoller opened #694 "Full text site search for getcarina.com"
We need a better nav / finding system for content on getcarina including community posts/site content. Deconst now has the requisite search functionality

[2016-02-17 16:49] jnoller opened #695 "Examine Compose 1.6.0 / v2 yaml files"
https://github.com/docker/compose/releases/tag/1.6.0

- Compose 1.6 introduces a new format for docker-compose.yml which lets you define networks and volumes in the Compose file as well as services. It also makes a few changes to the structure of some configuration options.

- Support for networking has exited experimental status and is the recommended way to enable communication between container

[2016-02-17 16:54] rgbkrk commented on #695
Hey, that could get really slick.

[2016-02-17 21:20] #687 closed

[2016-02-17 23:12] everett-toews commented on #686
Blog post on it here: https://getcarina.com/blog/overlay-networks/

[2016-02-17 23:14] everett-toews commented on #686
From @ktbartholomew

This will need a bit of investigation.

[2016-02-18 13:21] everett-toews opened #699 "Update Discovery back ends"
[Discovery back ends](https://getcarina.com/docs/concepts/docker-swarm-carina/#discovery-back-ends) needs an update now that we run Consul for service discovery.

[2016-02-18 22:18] everett-toews commented on #686
See [this comment](https://github.com/everett-toews/jupyterhub-on-docker-swarm/issues/16#issuecomment-185869665) on security. The tutorial should have a section dedicated to security.

[2016-02-19 15:04] mdarby opened #701 "Allow > 3 clusters to be created via UI"
The UI doesn't support the creation of clusters > 3, but the carina cli works fine.

[2016-02-19 15:05] mdarby commented on #701
(from https://community.getcarina.com/t/capacity-requests/22/3)

[2016-02-19 15:21] rgbkrk commented on #701
:boom: @carolynvs we win!!! :boom:

[2016-02-19 16:40] ktbartholomew commented on #701
Duplicate of https://github.com/getcarina/getcarina.com/issues/665

[2016-02-19 16:40] #701 closed

[2016-02-19 21:15] #688 closed

[2016-02-22 18:01] lauracly opened #705 "Content Refresh Tracking - Mike Metral"
Here is the list of articles to review:

- [x] Container design philosophy
- [x] Container ecosystem: Kubernetes
- [x] Container ecosystem: Mesos versus OpenStack
- [x] Container ecosystem: OpenShift
- [x] Introduction to container technologies: Docker
- [x] Introduction to container technologies: market analysis
- [ ] Introduction to container technologies: container networking
- [x] Introduction

[2016-02-22 18:06] lauracly opened #706 "Content Refresh Tracking - Matt Darby"
Here is the list of articles to review:

[ ] docker-swarm-intro.md Introduction to Docker Swarm
[ ] drupal-and-swarm.md Set up Drupal on Carina
[ ] application-logging.md Application logging

[2016-02-22 18:10] lauracly opened #708 "Content Refresh Tracking - Jamie Hannaford"
Here is the list of articles to review:

- [x] docker-swarm-carina.md Understanding how Carina uses Docker Swarm
- [x] docker-compose-with-carina.md Docker Compose with Carina
- [x] wordpress-apache-mysql.md Run WordPress, Apache, and MySQL in Docker
- [x] wordpress-nginx-links.md Run WordPress across linked front end and back end containers
- [x] autoscaling-carina.md Autoscaling resources in Car

[2016-02-22 18:13] lauracly opened #709 "Content Refresh Tracking - Zack Shoylev"
Here is the list of articles to review:

- [ ] Image-registries.md Image registries
- [ ] troubleshooting-windos-docker-vm-startup.md Troubleshooting the Docker Toolbox setup on Windows 7, 8.1, and 10
- [ ] mumble-on-carina.md Use Mumble on Carina
- [ ] quassel-on-carina.md Use Quassel on Carina

[2016-02-22 18:18] lauracly opened #710 "Content Refresh Tracking - Everett Toews"
Here is the list of articles to review:

- [x] overview-of-carina.md	Overview of Carina
- [x] getting-started-on-carina.md	Getting started on Carina #722
- [x] data-stores-mongodb.md	Use MongoDB on Carina
- [x] data-stores-mysql.md	Use MySQL on Carina
- [x] data-volume-containers.md	Use data volume containers
- [x] servicenet.md	Communicate between containers over the ServiceNet internal network
-

[2016-02-22 18:36] lauracly opened #711 "Content Refresh Tracking - Ash Wilson"
Here is the list of articles to review:

- [x] nginx-with-lets-encrypt.md	NGINX with Let's Encrypt

[2016-02-22 18:37] lauracly opened #712 "Content Refresh Tracking - Anne Gentle"
Here is the list of articles to review:

- [ ] carina-cli.md	Getting started with the Carina CLI

[2016-02-22 18:40] lauracly opened #713 "Content Refresh Tracking - Kelly Holcomb"
Here is the list of articles to review:

- [x] create-connect-cluster.md	Create and connect to a cluster
- [x] glossary.md	Carina glossary

[2016-02-22 18:44] lauracly opened #714 "Content Refresh Tracking - Carolyn Van Slyck"
Here is the list of articles to review:

- [x] aspnet-on-carina-with-visual-studio.md	Getting started with ASP.NET on Carina with Visual Studio
- [x] docker-networking-basics.md	Docker networking basics
- [x] publish-aspnet-to-carina.md	Publish an ASP.NET website to Carina from the command line
- [x] data-stores-mysql-prod.md	Connect a Carina container to a Rackspace cloud database
- [x] connect-d

[2016-02-22 18:46] lauracly opened #715 "Content Refresh Tracking - Major Hayden and Adrian Otto"
Here is the list of articles to review:

- [x] container-security.md	Container security

[2016-02-22 18:49] lauracly opened #716 "Content Refresh Tracking - Stephanie Fillmon"
Here is the list of articles to review:

[ ] containers-101.md	Containers 101
[ ] service-discovery-101.md	Service discovery 101
[ ] nuke-a-container.md	How to stop a non-responsive running container

[2016-02-22 18:51] lauracly opened #717 "Content Refresh Tracking - Nate Archer"
Here is the list of articles to review:

- [x] docker-101.md	Docker 101
- [x] run-docker-image.md	Find and download a Docker image
- [x] docker-install-linux.md	Install Docker on Linux
- [x] docker-install-mac.md	Install Docker on Mac OS X
- [x] docker-install-windows.md	Install Docker on Windows
- [x] set-up-docker-machine.md	Set up a virtual environment with a Docker host

[2016-02-22 18:52] lauracly opened #718 "Content Refresh Tracking - Bill Anderson"
Here is the list of articles to review:
- [x] data-stores-redis.md	Use Redis on Carina

[2016-02-22 18:55] lauracly opened #719 "Content Refresh Tracking - Kyle Kelley"
Here is the list of articles to review:

* [x] interlock-on-carina.md	Run interlock on Carina

[2016-02-22 18:56] lauracly opened #720 "Content Refresh Tracking - Simon Jakesch"
Here is the list of articles to review:

- [x] faq.md	Carina FAQ

[2016-02-22 20:13] rgbkrk commented on #719
Ooooh, yeah that probably needs a refresh as well as some software time to make interlocarina have parity with interlock.

[2016-02-23 03:18] carolynvs commented on #714
haha, that is a long list! :sweat_smile:

[2016-02-23 14:57] lauracly commented on #714
Well you are prolific writer. I have faith in your. :)

[2016-02-23 15:20] zack-shoylev commented on #709
Thanks! I should be able to get to this later this week.

[2016-02-23 16:14] stephamon commented on #716
@lauracly all three of mine seem okay. Two are conceptual about containers and service discovery without any command usage for Carina, and the third uses docker to stop a non-responsive container. I double checked docker's site, and none of the commands have changed there.

[2016-02-23 16:16] lauracly commented on #716
Great - then please close this issue and also mark off as complete on the epic.

[2016-02-23 16:20] #716 closed

[2016-02-23 18:49] mdarby commented on #706
Updated!

[2016-02-23 18:49] #706 closed

[2016-02-24 22:15] everett-toews commented on #686
Here's the pathological case of a docker network IP colliding with a ServiceNet IP on Carina

https://gist.github.com/everett-toews/68e4677cf637b976a78a

tl;dr If you have an IP collision, you can't reach that container by name or IP outside of the segment. No real surprise there.

The ServiceNet CIDR is 10.176.224.0/19 which is a far cry from from the docker default of 10.0.0.0/24 (incrementing b

[2016-02-25 17:09] jnoller opened #724 "Blog post / warning about glibc vulnerability"
See: https://googleonlinesecurity.blogspot.com/2016/02/cve-2015-7547-glibc-getaddrinfo-stack.html

Essentially, all users need to re-roll / build all images to derive from a patched version of the base image they use.

[2016-02-28 21:49] everett-toews commented on #718
@therealbill Would you like to update this or should we take it?

[2016-02-28 21:53] #689 closed

[2016-02-29 15:37] jnoller commented on #694
Depends on https://github.com/deconst/deconst-docs/issues/204

[2016-02-29 15:38] kenperkins commented on #715
This will address changes from the newest Carina release and the overlay networking changes.

[2016-02-29 15:46] kenperkins commented on #714
Make sure you update the Jeykll-front matter for the new Docker version

[2016-02-29 16:33] rgbkrk commented on #690
Time to start making a list of things to incorporate.

[2016-02-29 16:38] everett-toews commented on #690
https://github.com/getcarina/jupyterhub-tutorial ?

[2016-02-29 17:17] therealbill commented on #718
@everett-toews You can take it. I doubt anything needs to change but sadly haven't had time lately to keep up w/the Carina improvements y'all have been making.

[2016-02-29 17:22] everett-toews commented on #718
We'll definitely need to make a change as we can add an additional layer of security by putting Redis on a network and not expose it to the Internet or ServiceNet. I'll take it.

[2016-02-29 17:30] therealbill commented on #718
Ah I see. Nice new feature. :) :+1:

[2016-02-29 19:13] ktbartholomew commented on #690
"Edit on Github" is now available on blog posts in addition to docs. Might be a good time to call attention to that feature and invite people to fix our mistakes.

I had proposed to @everett-toews potentially doing a little contest with this feature and intentionally misspelling a word in the blog post announcing the feature. The first person to submit a PR fixing the mistake gets some Carina swag

[2016-02-29 19:16] ktbartholomew commented on #690
Also, since there was no wrap-up last week (due to rax.io), the [tic-tac-toe blog post](https://getcarina.com/blog/build-real-time-game-carina/) was never included in a weekly wrap-up.

[2016-02-29 20:06] rgbkrk commented on #690
@everett-toews great idea!

@ktbartholomew I can't wait to leave typos in the blog post. Sorry @kmsholcomb.

[2016-02-29 20:08] rgbkrk commented on #690
Updated the issue description to include the so far summary.

[2016-02-29 20:08] kmsholcomb commented on #690
I can live with officially sanctioned typos that are designed to be fixed! :)

[2016-02-29 21:23] zack-shoylev commented on #709
Note that some tutorial related images, such as the backup/restore ones, should also be updated.

[2016-02-29 21:36] jnoller commented on #724
@rgbkrk Do you want to cover this and the pending SSL one in the news this week - basically 'REROLL EVERY IMAGE"

[2016-02-29 21:39] jnoller commented on #724
We probably need two things: tutorial for best practices of re-rolling containers to stay up to date as part of a CI pipeline, and the blog post highlighting 'why this is important'

[2016-02-29 21:48] jnoller commented on #724
also yeah: https://mta.openssl.org/pipermail/openssl-announce/2016-February/000063.html

[2016-02-29 22:00] zack-shoylev commented on #709
https://github.com/getcarina/getcarina.com/pull/725

[2016-02-29 22:01] everett-toews commented on #690
Roll https://github.com/getcarina/getcarina.com/issues/724 into the weekly?

[2016-02-29 22:02] carolynvs commented on #686
@everett-toews I assume that this will replace https://getcarina.com/docs/concepts/docker-networking-basics/? Do you want me to do anything right now to that umbrella article, or the two child articles on ambassador pattern and legacy linking as part of #714 ? Seems like they should just be deleted once you rework the main article?

[2016-02-29 22:17] everett-toews commented on #686
@carolynvs You're right. All 3 can be deleted. The ambassador pattern and legacy linking articles make no sense anymore and the concept umbrella article is entirely about those 2 articles so it doesn't make sense either.

I'm writing this as a tutorial specifically about overlay networks. If we want to expand on networking in general then, at that time, it would make sense to reintroduce a concept

[2016-02-29 22:27] carolynvs commented on #686
@everett-toews Do you know when the overlay tutorial is going out? I can remove the networking tutorials, but a few other pages are linking to the existing networking basics tutorial. If it's coming out soon, I can just update them to point to the upcoming overlay tutorial URL.

[2016-02-29 22:49] everett-toews commented on #686
@carolynvs I'll have a PR out today. Hopefully it'll be published on Tuesday or Wednesday.

[2016-02-29 23:50] metral commented on #705
Hello,

None of the posts I wrote are affected by the changes in Carina as they're general to the container space and not tied nor based on Carina itself.

Consider all of these articles fine. :+1:

[2016-02-29 23:52] lauracly commented on #705
Sounds good - thanks for the update. I will close this issue.

[2016-03-01 00:17] everett-toews opened #727 "Image patching tutorial"
Patching images and rerunning containers based on the patched images in response vulnerabilities is going to be an ongoing concern. A recent example is #724.

We need to provide steps users can take to patch their images and rerun them. We'd need to cover the following scenarios:

1. User has a custom image based on an official image (e.g. `FROM ubuntu`) that has been pushed directly to Carina seg

[2016-03-01 02:24] everett-toews commented on #705
@metral @lauracly "Docker best practices: container linking" needs to be updated. Neither `--link` nor the ambassador pattern are recommended anymore. Both have been replaced by overlay networking. The current tutorials on `--link` nor the ambassador pattern are going to be removed and replaced by https://github.com/getcarina/getcarina.com/pull/726

[2016-03-01 02:47] everett-toews opened #728 "Getting started with Python web app dev tutorial"
From Docker Toolbox with Compose to Carina with Compose.

Similar to [From Local Development to Remote Deployment with Docker Machine and Compose](https://developer.rackspace.com/blog/dev-to-deploy-with-docker-machine-and-compose/)

[2016-03-01 10:12] jamiehannaford commented on #708
`docker-swarm-carina.md` *should* work, but I can't test a code block due to an [apparent bug](https://forums.docker.com/t/docker-ps-filter-does-not-work-against-ucp-endpoint/6578) in Docker.

[2016-03-01 16:00] everett-toews commented on #656
Oh man. This is such a great fit. http://objectrocket.com/parse

[2016-03-01 16:00] ktbartholomew opened #730 "Style the status page to look more like the main website"
We look pretty silly using the vanilla statuspage.io theme. We should be able to borrow some of the techniques from https://github.com/ktbartholomew/rackspace-status to customize the look and feel of the status page to match our main website.

[2016-03-01 17:29] carolynvs opened #732 "How to redirect an outdated article to new content?"
I have two tutorials that we have linked to in the past, e.g. https://getcarina.com/docs/tutorials/connect-docker-containers-with-links/. Now that we have overlay networks, the content is out of date and not recommended anymore.

I would like to keep the page and replace the content in it with a message to go read up on overlay networks. I do not want the page to show up on the docs collection any

[2016-03-01 18:58] everett-toews commented on #732
Can we just remove those tutorials and do regular redirects with deconst?

@carolynvs Would you be okay with that?

[2016-03-01 19:04] ktbartholomew commented on #732
Oh, I don't know why I didn't think of just doing a few redirects. I'd much rather do that.

[2016-03-01 19:13] carolynvs commented on #732
Sure! Where should the redirects be defined? In nexus-control?

[2016-03-01 19:14] ktbartholomew commented on #732
Yeah: https://github.com/rackerlabs/nexus-control/blob/master/config/rewrites.d/getcarina.com.json

[2016-03-01 19:14] carolynvs commented on #732
Thanks guys!

[2016-03-01 19:14] #732 closed

[2016-03-01 21:50] jnoller commented on #675
https://getcarina.com/docs/reference/application-logging/ is a good high level overview but the TLS / rsyslog setup should be scripted & diagrammed

[2016-03-01 23:20] everett-toews commented on #705
"Introduction to container technologies: container networking" also needs to be updated to include the overlay (multi-host) networking native to Docker. This should also be the current recommendation for Docker-centric environments.

[2016-03-01 23:22] lauracly commented on #705
Thanks for reopening @everett-toews.

[2016-03-02 01:12] #686 closed

[2016-03-02 01:23] everett-toews commented on #692
The overlay networks tutorial is now published at [Use overlay networks in Carina](https://getcarina.com/docs/tutorials/overlay-networks/).

[2016-03-02 01:44] #714 closed

[2016-03-02 02:18] #715 closed

[2016-03-02 02:19] #718 closed

[2016-03-02 09:57] #708 closed

[2016-03-02 15:29] ktbartholomew opened #735 "Add CSS rule to center <figure> elements"

[2016-03-02 15:59] everett-toews commented on #695
This should also update https://github.com/getcarina/getcarina.com/blob/master/_concepts/2015-10-16-docker-compose-with-carina.md

[2016-03-02 19:04] #735 closed

[2016-03-02 19:09] everett-toews commented on #735
Thanks!

[2016-03-02 21:16] #572 closed

[2016-03-02 22:30] #710 closed

[2016-03-03 14:31] mdarby opened #738 "Broken image (getcarina.com/docs/overview-of-carina)"
![overview of carina carina by rackspace 2016-03-03 09-30-27](https://cloud.githubusercontent.com/assets/2805/13497309/a6c3c008-e122-11e5-8bea-77f3976a8536.png)

[2016-03-03 14:35] ktbartholomew commented on #738
![image](https://cloud.githubusercontent.com/assets/3018940/13497439/e0208e06-e11a-11e5-8c14-0aa5610b6874.png)

looks fine to me

[2016-03-03 14:41] mdarby commented on #738
hrm odd. A few refreshes kicked it into gear.

[2016-03-03 14:41] #738 closed

[2016-03-03 15:21] jnoller opened #739 "March Newsletter (content due 3/22/16)"
First newsletter going out since launch in October to the user base. I've added a newsletter label to this repo, and other carina repos to flag anything that a potential for it.

- [ ] Content to be picked / surfaced by 3/20
- [ ] Newsletter draft to be done & reviewed by 3/28
- [ ] Newsletter to be sent by 3/29

[2016-03-03 15:59] everett-toews commented on #711
@smashwilson Can you give this a look this week or next?

[2016-03-03 16:00] smashwilson commented on #711
I should be able to next week, yeah.

[2016-03-03 16:17] everett-toews commented on #712
@annegentle Can you give this a look this week or next?

[2016-03-03 16:17] everett-toews commented on #713
@kmsholcomb Can you give this a look this week or next?

[2016-03-03 16:18] everett-toews commented on #717
@DonNateR Can you give this a look this week or next?

[2016-03-03 16:19] everett-toews commented on #705
@metral Can you give this a look this week or next?

[2016-03-03 16:51] ktbartholomew commented on #739
@jnoller can we add some time in here to design a template for this newsletter? I don't think our plain-jane template or the one we used for inactive users will work very well for this kind of message. We'll want to put together something that's a little more forward with images and CTAs.

[2016-03-03 16:54] jnoller commented on #739
Sure! Can we aim for end of month still?

[2016-03-03 16:55] ktbartholomew commented on #739
I think we would need to move up the content pick deadline by a few days, then use the time between then and 3/28 to work out content and design simultaneously. But yes, 3/29 to send should still be doable.

[2016-03-03 16:56] jnoller commented on #739
Sounds good, I'll edit when computered

[2016-03-03 17:10] kmsholcomb commented on #713
Yep! Was planning to do it tomorrow.

[2016-03-03 17:22] DonNateR commented on #717
@everett-toews I'll take a look this afternoon or tomorrow morning.

[2016-03-03 19:52] metral commented on #705
Apologies for the delay on this. I'll get to this very soon, promise!

[2016-03-03 20:43] zack-shoylev commented on #709
Images need to be updated with this when ready:

https://github.com/rackspace/rack/issues/389

[2016-03-03 20:43] #709 closed

[2016-03-03 20:49] metral commented on #705
PR #741 has been pushed to resolve the remaining articles that needed update

[2016-03-03 21:41] #717 closed

[2016-03-03 22:45] annegentle commented on #712
Will do.

[2016-03-03 23:02] annegentle commented on #712
No changes needed.

[2016-03-03 23:02] #712 closed

[2016-03-04 18:31] kmsholcomb commented on #713
Updated both articles, via https://github.com/getcarina/getcarina.com/pull/744 and https://github.com/getcarina/getcarina.com/pull/745.

[2016-03-04 18:31] #713 closed

[2016-03-04 20:08] everett-toews commented on #656
@timbanks Here's the issue on the Carina side 'o things.

[2016-03-04 20:26] ktbartholomew opened #746 "Data backup tutorial"
We should create a tutorial outlining the techniques necessary to take regular backups of data volume containers and store them somewhere less volatile than Carina. We could use a technique similar to the [cron container in NGINX/Let's Encrypt](https://getcarina.com/docs/tutorials/nginx-with-lets-encrypt/#reissue-certificates-with-a-cron-container) to connect directly to the data volume containers

[2016-03-04 23:20] everett-toews commented on #746
We also need to consider where the [cf-backup](https://hub.docker.com/r/carinamarina/cf-backup/~/dockerfile/) and [cf-restore](https://hub.docker.com/r/carinamarina/cf-restore/~/dockerfile/) images fit into this. Likely they should be the images this tutorial is based on.

But let's do a proper job of fitting this altogether. Note that `rack` is now statically linked via https://github.com/rackspa

[2016-03-05 16:56] everett-toews commented on #746
We'd also want to update [data-volume-containers.md](https://github.com/getcarina/getcarina.com/blob/master/_tutorials/2015-10-23-data-volume-containers.md) to point to this tutorial, maybe as a Next step.

[2016-03-07 10:40] zack-shoylev commented on #746
Ah good. This means the cf- images should be updated with the static link, at least.

[2016-03-07 20:48] #711 closed

[2016-03-08 00:26] nihargupta commented on #656
@ktbartholomew @everett-toews yes, we can definitely get on https://github.com/ParsePlatform/parse-server/wiki#community-links.  We are also targeting having some form of Carina story ready by our joint webinar with Parse on 3/31, which they will promote through their normal outlets

[2016-03-08 14:24] everett-toews opened #750 "Weekly news blog post for 2016-03-11"

[2016-03-08 14:24] everett-toews opened #751 "Weekly news blog post for 2016-03-18"

[2016-03-08 15:53] everett-toews commented on #746
This tutorial also needs to include a backup to local machine section.

[2016-03-08 16:46] jnoller commented on #750
Since last week was a major outage we should hit this week. See comments here:

https://github.com/getcarina/getcarina.com/issues/690

Highlights:

- RCA / Comms for last weeks outage
- https://github.com/getcarina/jupyterhub-tutorial
- "Edit on Github" is now available on blog posts in addition to docs. Might be a good time to call attention to that feature and invite people to fix our mistakes.

[2016-03-08 16:46] jnoller commented on #690
Closing this one; missed window. See https://github.com/getcarina/getcarina.com/issues/750 for this week

[2016-03-08 16:46] #690 closed

[2016-03-08 17:00] jnoller commented on #746
We need an option if they do not have a full rackspace account too

[2016-03-08 19:15] kimtryce commented on #750
Assigning myself to this week's update.

[2016-03-08 20:25] lauracly commented on #705
@metral can we close this issue? Looks like you updated everything in #741

[2016-03-08 20:26] lauracly commented on #719
@rgbkrk can you get this review done this week?

[2016-03-08 20:26] metral commented on #705
Yup. All good on my end

On Tuesday, March 8, 2016, lauracly <notifications@github.com> wrote:

--
-Mike Metral

[2016-03-08 21:52] rgbkrk commented on #719
Updated in #752, making sure the tutorial still works (it does).

[2016-03-08 21:52] #719 closed

[2016-03-08 22:34] #728 closed

[2016-03-08 23:12] #720 closed

[2016-03-10 19:48] THernandez03 opened #756 "Problem getting SMS text to confirm my account"
I haven't been received the SMS to confirm my account. I tried different formats but it doesn't work.

From: Chile (+56)

[2016-03-11 13:58] jamiehannaford commented on #23
@everett-toews I can start writing this. I think we can get this working with [drone](https://github.com/drone/drone) and [watchtower](https://github.com/CenturyLinkLabs/watchtower).

[2016-03-11 14:16] kimtryce commented on #751
Scoutapark

[2016-03-11 15:42] everett-toews commented on #751
Yep. We can round up some user posts for this one.

https://getcarina.com/blog/ScoutaPark-Runs-On-Carina/
http://kukulinski.com/monitoring-container-health-in-rackspace-carina/
https://github.com/paulczar/docker-percona_galera#run-in-rackspaces-carina-service

[2016-03-11 17:38] everett-toews commented on #727
Good example of how Docker handles patching official images

https://github.com/docker-library/official-images/issues/1448

[2016-03-11 19:54] thomasem opened #763 "Carina now uses Consul for discovery instead of Docker Hub"
Need to update: https://getcarina.com/docs/concepts/docker-swarm-carina/#discovery-back-ends to reflect this.

[2016-03-11 20:39] #699 closed

[2016-03-11 20:39] #763 closed

[2016-03-11 21:15] thomasem commented on #699
Oh, whoops. Should have checked first. Sorry.

[2016-03-14 14:50] everett-toews commented on #724
@jnoller I'm going to close this as per the [glibc and OpenSSL](https://getcarina.com/blog/weekly-news-athon/#glibc-and-openssl) warning in last week's blog post. I think we want to focus on #727 now.

Reopen if you feel otherwise.

[2016-03-14 14:50] #724 closed

[2016-03-14 15:59] everett-toews commented on #750
https://getcarina.com/blog/weekly-news-athon/

[2016-03-14 15:59] #750 closed

[2016-03-14 16:04] #705 closed

[2016-03-14 17:24] everett-toews commented on #692
@lauracly All done.

[2016-03-14 17:24] #692 closed

[2016-03-14 17:29] everett-toews commented on #559
This is fixed.

[2016-03-14 17:29] #559 closed

[2016-03-14 17:31] everett-toews commented on #534
https://getcarina.com/docs/tutorials/servicenet/

https://getcarina.com/docs/tutorials/overlay-networks/

Reopen if more information is required.

[2016-03-14 17:31] #534 closed

[2016-03-14 17:36] everett-toews commented on #518
Edit on GitHub link now appears at the top of all tutorials.

[2016-03-14 17:36] #518 closed

[2016-03-14 17:37] everett-toews commented on #515
We've aligned sprint planning between the teams.

[2016-03-14 17:37] #515 closed

[2016-03-14 17:39] everett-toews commented on #460
Fixed via https://github.com/getcarina/carina/pull/89

[2016-03-14 17:39] #460 closed

[2016-03-14 17:44] #36 closed

[2016-03-14 17:48] everett-toews commented on #19
Another example is [Store private Docker registry images on Rackspace Cloud Files](https://getcarina.com/docs/tutorials/registry-on-cloud-files/)

As these tutorials (and others) demonstrate, products are added to tutorials as necessary. No need for a separate tutorial for it.

[2016-03-14 17:48] #19 closed

[2016-03-15 16:03] #746 closed

[2016-03-17 15:18] #727 closed

[2016-03-17 16:24] everett-toews commented on #751
Another great user post.

https://getcarina.com/blog/moving-chatops-into-carina/

[2016-03-17 20:17] #665 closed

[2016-03-18 16:34] everett-toews opened #774 "s/segment/node/"
It's looking pretty unanimous in https://github.com/getcarina/feedback/issues/54

We will need to be explicit about the nature of the physical location of Carina nodes in [this section](https://getcarina.com/docs/concepts/docker-swarm-carina/#carina-segments). As in, a Carina node is not necessarily running on a separate physical host.

[2016-03-18 16:36] carolynvs commented on #774
@rgbkrk is already 12 steps ahead of you, https://github.com/getcarina/carina/pull/99 was just merged. THE PEOPLE HAVE SPOKEN! :smile:

[2016-03-18 16:44] everett-toews commented on #774
@carolynvs PR https://github.com/getcarina/carina/pull/99 was for the carina CLI. This issue is for the grand renaming throughout the getcarina.com docs.

[2016-03-18 16:46] carolynvs commented on #774
Yup, I know, don't mind me.  I was just making a dumb joke about the "pretty unanimous" part because people are already going off and switching segment->node.

[2016-03-18 19:18] rgbkrk commented on #774
/me whistles

_Totally not motivated by the fact that @smashwilson and I gave a workshop today._

[2016-03-21 15:58] #751 closed

[2016-03-21 15:59] everett-toews opened #775 "Weekly news blog post for 2016-03-25"

[2016-03-21 16:01] everett-toews commented on #775
Carina series on YouTube.

https://www.youtube.com/watch?v=yWPLQ7QkHLc
https://www.youtube.com/watch?v=GRnGVLylFf0
https://www.youtube.com/watch?v=6Nw6o3BQvYE

https://www.youtube.com/playlist?list=PL14f2wvjxFf3JehqasZ61eY_7bgQsSppw

[2016-03-21 16:02] everett-toews opened #776 "Weekly news blog post for 2016-04-01"

[2016-03-23 11:44] everett-toews opened #779 "MongoDB on ObjectRocket tutorial"

[2016-03-23 16:11] rgbkrk commented on #572
I'm going to repurpose "Setting up a Beacon to share your pipboy data from Fallout 4" to be the more generic tutorial on setting up PKI between two containers.

[2016-03-23 16:14] rgbkrk opened #780 "[Tutorial] PKI between services"
The fourth bullet in https://github.com/getcarina/getcarina.com/issues/572 lists:

I originally got this outlined and prototyped in [beacon](https://github.com/RobCoIndustries/beacon) as:

* Generate public and private key pairs for communicating with another service
* Launch that service with strict PKI
* Communicate back and forth with it

This is more general than Beacon though. We can put toge

[2016-03-23 16:21] everett-toews commented on #780
Is this a tutorial or blog post?

It looks to me like beacon is a Fallout specific thing and the other Fallout stuff were posts too. Does it make sense to keep it as a series of blog posts?

[2016-03-23 16:39] rgbkrk commented on #780
Tutorial. I want to at least extract out the PKI parts (not talk about Beacon).

[2016-03-23 16:39] everett-toews commented on #775
https://getcarina.com/docs/troubleshooting/common-problems/#error-getting-pools-config-from-store is new

[2016-03-23 16:41] rgbkrk commented on #780
Updated the summary to adjust. Basically, Beacon was going to be my narrative piece (for a blog post) while the underlying tech is boring, simple, and people should know how to use it.

[2016-03-23 16:45] everett-toews commented on #775
If #777 merges, it should be at the top of the weekly news. /cc @mdarby

[2016-03-25 13:48] #775 closed

[2016-03-25 14:24] #774 closed

[2016-03-25 19:30] carolynvs opened #784 "How to integrate with Carina"
Document how to integrate with Carina OAuth.

- [x] Reference documentation on oauth
- [ ] Blog post inviting people to integrate, using the howtowhale source as an example.

[2016-03-26 23:07] rgbkrk commented on #780
I've now made sure the code is sound for both the raw tcp and the https case here: https://github.com/rgbkrk/pki-examples

Blog post to be written during my flight and layover tomorrow.

[2016-03-28 09:55] mjbright opened #785 "Machine tutorials should include Carina (not just Virtualbox!)"
The tutorial at
    https://github.com/getcarina/getcarina.com/edit/master/_tutorials/2015-09-28-set-up-docker-machine.md

tells how to use docker-machine to create a Docker host using the docker-machine Virtualbox driver.

It would be useful to be able to add a Carina host/cluster to the list of docker machines.
(with docker-machine create and either generic or none driver)

[2016-03-28 09:57] mjbright commented on #785
Same comment for this tutorial:
    https://getcarina.com/docs/tutorials/load-docker-environment-on-windows/

It's a shame to say "if using Carina use your credentials else use docker-machine".
It would be useful to be able to use docker-machine in both cases.

[2016-03-29 23:48] carolynvs commented on #194
I put this in `~/.bash_profile`

[code]

and now I can run `docker-ssh <container-name>` and jump right into an interactive shell session

[2016-03-29 23:48] carolynvs commented on #194
Also @everett-toews just dropped this gem in chat: `unset ${!DOCKER_*}`

[2016-03-30 14:58] everett-toews commented on #776
[Connecting to DB via Terminal - Carina Forums](https://community.getcarina.com/t/connecting-to-db-via-terminal/143)

[Tips and Tricks](https://github.com/getcarina/getcarina.com/pull/789)

[2016-03-30 16:47] ktbartholomew opened #790 "Create user stories for new Carina UI"

[2016-03-30 18:11] #194 closed

[2016-03-31 18:36] #790 closed

[2016-04-01 15:09] #776 closed

[2016-04-04 14:10] everett-toews opened #797 "Cluster upgrade tutorial"
As a user, I want to upgrade from a 1.10.2 cluster to 1.11.0 cluster to take advantage of all of the new shiny and chrome in 1.11.0.

Some points to hit:

* IP addresses and DNS (and CLBs?)
* [Back up and restore container data](https://getcarina.com/docs/tutorials/backup-restore-data/)
* `docker cp`?
* [Manage Docker client versions with dvm](https://getcarina.com/docs/tutorials/docker-version-ma

[2016-04-06 14:12] everett-toews opened #801 "Weekly news blog post for 2016-04-08"
- [x] Docker 1.10.3 and Docker Swarm 1.1.3
- [x] Carina OAuth
- [x] Upcoming reboot
- [x] [How do I even Swarm?](http://everett-toews.github.io/effective-docker-swarm/slides/#/welcome)

[2016-04-06 14:12] everett-toews opened #802 "Weekly news blog post for 2016-04-15"

[2016-04-06 14:54] carolynvs opened #803 "Instructions for Docker Native client instead of Toolbox"
We should be ready for when the Docker native clients for Mac OS X and Windows are released publicly. The experience is better than Toolbox, (though maybe it will be integrated with Toolbox?), and it would be nice once it ships to have our doc steer people to that instead.

[2016-04-06 19:11] kimtryce commented on #739
Adjusting dates and objectives below.  Would like to send this out before the Carina Cantina at Openstack,  Please add any other items:

- [ ] Contentto be picked / surfaced by 4/13
- [ ] Newsletter draft to be done & reviewed by 4/18
- [ ] Newsletter to be sent by 4/20

[2016-04-06 19:27] carolynvs commented on #739
We should have the doc/blog up for integrating with Carina by then so that should be fun to include. I updated your list with it.

[2016-04-07 12:42] megastef opened #806 "Can't login to Docker UCP"
Following instructions: https://getcarina.com/blog/fastest-test-drive-of-docker-ucp/
and played with password options (even without using default PW when env vars are not set), and still I can't login to UCP.

[2016-04-07 12:59] jnoller commented on #806
Can you paste the output of the commands / what you ran? It may be a change in UCP

[2016-04-07 14:06] megastef commented on #806
It turned out it was a problem with the browser and SSL certs. See docker logs.
![bildschirmfoto 2016-04-07 um 15 39 47](https://cloud.githubusercontent.com/assets/7289505/14353719/a2031ee6-fcda-11e5-8ab6-104ec300ac87.png)

[2016-04-07 14:07] megastef commented on #806
The message in the Docker UCP is misleading. You enter the credentials, and there is no message about certificate issues.

[2016-04-07 16:24] jnoller commented on #806
So this should be reported to docker directly, it looks like a UCP bug.

[2016-04-08 19:31] #801 closed

[2016-04-12 22:09] #779 closed

[2016-04-14 15:28] jamiehannaford opened #816 "CI/CD tutorial series epic"
This issue tracks the CI/CD series, which will cover:
- [x] [How to set up push-based rolling deployment for your containers using XYZ](https://github.com/getcarina/getcarina.com/issues/817)
- [ ] [How to set up pull-based rolling deployment for your containers using Watchtower](https://github.com/getcarina/getcarina.com/issues/818)
- [ ] [Locally test and debug an ASP.NET website in a Docker cont

[2016-04-14 15:29] #23 closed

[2016-04-14 15:30] #49 closed

[2016-04-14 15:40] jamiehannaford opened #817 "Push-based CI/CD deployment"
How to:

- set up a webhook in Docker Hub
- how to start a listening container
- push a new image
- monitor the deployment

[2016-04-14 15:41] jamiehannaford opened #818 "Pull-based CI/CD deployment"
How to:
- deploy Watchtower
- push a new image
- monitor deployments

[2016-04-15 18:10] #802 closed

[2016-04-19 13:00] jamiehannaford opened #822 "How to run Laravel apps on Carina"

[2016-04-19 13:00] jamiehannaford opened #823 "How to run Symfony apps on Carina"

[2016-04-19 18:23] everett-toews opened #824 "Weekly news blog post for 2016-04-22"

[2016-04-19 18:23] everett-toews opened #825 "Weekly news blog post for 2016-04-29"

[2016-04-19 21:32] kimtryce opened #826 "Weekly news blog post for 2016-04-22"

[2016-04-19 21:33] kimtryce opened #827 "Weekly news blog post for 2016-04-29"

[2016-04-19 21:34] kimtryce commented on #827
Dup. Cosing.

[2016-04-19 21:34] #827 closed

[2016-04-19 21:34] kimtryce commented on #826
Dup. Closing.

[2016-04-19 21:34] #826 closed

[2016-04-20 14:10] everett-toews opened #828 "Effective Docker Swarm presentation"
Improvements to Effective Docker Swarm presentation based on Docker Austin feedback.

To be presented at the Rackspace Cantina.

[2016-04-20 14:10] everett-toews opened #829 "Carina lightning talk for DevOps Days Austin"

[2016-04-20 14:13] #828 closed

[2016-04-20 14:13] #829 closed

[2016-04-20 15:32] kenperkins commented on #824
I'll do this for this Friday.

[2016-04-20 15:45] everett-toews commented on #824
https://www.youtube.com/watch?v=HJ-iI-OiGCY&feature=youtu.be&t=15m15s

[2016-04-20 20:03] everett-toews commented on #824
One last shout out for https://getcarina.com/blog/container-day-austin-summit/

[2016-04-21 20:28] everett-toews commented on #824
https://github.com/getcarina/feedback/issues/65#issuecomment-213083215

[2016-04-22 15:59] #817 closed

[2016-04-22 16:25] everett-toews commented on #824
https://getcarina.com/docs/tutorials/push-based-cd/

[2016-04-25 15:44] #824 closed

[2016-04-29 15:49] kimtryce commented on #825
https://github.com/getcarina/getcarina.com/pull/835/

[2016-04-29 19:16] #825 closed

[2016-05-04 14:17] everett-toews opened #837 "Error Codes"
A page for all of the Carina error codes.

[2016-05-04 18:02] #837 closed

[2016-05-09 16:33] #797 closed

[2016-05-10 13:40] #784 closed

[2016-05-10 13:59] jamiehannaford opened #848 "Securing your Carina cluster with image scanning"
Using tools like:
- https://github.com/OpenSCAP/container-compliance
- https://github.com/coreos/clair (would probably need hacks to work)

would also need to cover an overview of security compliance, automation, integration with CD pipeline would be cool

[2016-05-10 14:55] jnoller commented on #848
see also https://github.com/getcarina/feedback/issues/56

[2016-05-31 17:29] everett-toews opened #861 "Weekly News: June 3"

[2016-05-31 17:29] everett-toews commented on #861
https://getcarina.com/docs/reference/release-notes/#may-23-2016

[2016-05-31 17:29] everett-toews commented on #861
PyCon: http://getcarina.github.io/jupyterhub-tutorial/slides/

[2016-05-31 17:30] everett-toews opened #862 "Weekly News: June 10"

[2016-06-01 03:17] carolynvs opened #864 "Shout out to docker stats"
TIL about `docker stats`, thanks @steder!

It would be nice to call it out somewhere, in a weekly blog post, tips and tricks? Let people know that they can see how much Carina juice they are using.

[2016-06-01 14:43] #739 closed

[2016-06-02 15:43] kimtryce commented on #861
I'll own this week's weekly.  Thanks for the notes @everett-toews

[2016-06-03 17:37] kimtryce commented on #861
https://github.com/getcarina/getcarina.com/pull/866

[2016-06-03 18:33] #861 closed

[2016-06-09 19:50] everett-toews commented on #862
https://getcarina.com/blog/simple-saas-with-jclouds-and-carina/

[2016-06-09 19:59] everett-toews commented on #862
https://youtu.be/FOs7UrGJnx8

[2016-06-09 20:18] carolynvs commented on #862
https://youtu.be/B9bAWsCslqg

[2016-06-10 15:39] #862 closed

[2016-06-23 21:36] carolynvs opened #872 "Add bash_completion to homebrew installation directory"
I accidentally left that file out when I first submitted to homebrew...

[2016-06-29 16:10] kimtryce commented on #780
Closing this out since Kyle is now a Netflixer.

[2016-06-29 16:10] #780 closed

[2016-07-05 15:40] ktbartholomew commented on #663
We'll look at this as part of the make-coe developement work.

[2016-07-05 15:40] #663 closed

[2016-07-08 19:55] lauracly opened #874 "API Reference Guide"
Create, using the existing Rackspace template/toolset, an API Reference Guide.

@kenperkins @kimtryce @jnoller - FYI

[2016-07-11 12:34] everett-toews commented on #874
Our API reference is in an OpenAPI spec. It's the canonical source of truth for the Carina API. We'll need to put some thought/effort into how this will work with the existing Rackspace template/toolset.

[2016-07-11 14:36] kenperkins commented on #874
This might be as simple as an OpenAPI preparer.

From: Everett Toews <notifications@github.com<mailto:notifications@github.com>>
Reply-To: "getcarina/getcarina.com" <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, July 11, 2016 at 5:34 AM
To: "getcarina/getcarina.com" <getcarina.com@noreply.github.com<mailto:getcarina.com@noreply.github.com>>
Cc: Ken Perkins <ken.perkins@RACKS

[2016-07-14 15:35] kmsholcomb commented on #513
Request from docs meeting with Simon: For the upcoming GA release, we need to define topic metadata to indicate the underlying technology (Docker v. Kubernetes), the version of the technology, and the service (Public or Private) covered in an article.

Then, we need to figure out a way to surface this metadata as tags that will be visible to users, so that they have an easy way to see whether an a

[2016-07-14 15:39] kmsholcomb opened #876 "Create filtering mechanism for articles"
From docs meeting with Simon: Because we'll have articles that cover Public, Private, Docker, Kubernetes, and various versions, we should have some system of visible tagging that lets users easily see whether an article applies to them. Also, it would be ideal for users to be able to filter on those tags, so that they could see all of the articles that are relevant for their implementation, for ex

[2016-07-21 18:26] #872 closed

[2016-07-25 19:34] josefinb opened #877 "what is the "docker host"?"
"Otherwise, run docker-machine env default --shell cmd, replacing default with the name of your Docker host"

what is the docker host?

Thanks in advance!

[2016-07-25 19:59] carolynvs commented on #877
@josefinb In the context of the instructions above, "docker host" refers to the name of the docker machine that you created earlier.

In the example below, I am creating a domain machine named "foobar".

[code]

[2016-07-26 08:42] #877 closed

[2016-07-26 08:43] josefinb commented on #877
Thanks, that worked!

[2017-01-06 16:18] carolynvs opened #908 "Update carina cli doc with 2.0 release"
- [x] Update install instructions
- [x] Document the variables set by the carina cli
[code]

[2017-01-09 14:57] carolynvs commented on #908
Fixed by https://github.com/getcarina/getcarina.com/pull/910

[2017-01-09 14:57] #908 closed

[2017-06-23 09:44] #848 closed

[2017-06-23 09:45] #823 closed

[2017-06-23 09:45] #822 closed

[2017-06-23 09:45] #818 closed

[2017-06-23 09:45] #816 closed

[2017-07-24 18:41] jamesooo opened #917 "getcarina.com site is down"
Hello,
Not sure if the site owner is aware but getcarina.com is currently down and has been at least since last week. is carina still supported?
thanks!

[2017-07-24 18:58] everett-toews commented on #917
Sorry to be the bearer of bad tidings but the Carina project was cancelled.

[2017-07-24 18:58] #917 closed